.table:not(.no-actions) th:first-child {
    /*max-width: 50px !important;
    width: 7%;
    min-width: 50px !important;*/
    width:55px;
}

.table:not(.no-actions) th:last-child {
    width: 10% !important;
}
.dropdown-container{
    margin: 1rem 0;
}
.button-container {
    margin-bottom: 1rem;
}
.fa {
    margin: 0 3px;
    color: #1e6bb8;
    cursor: pointer;
}
.fa-edit, .fa-save {
    border: none;
    background: none;
}
button.fa[disabled]{
    cursor:not-allowed;
    color:#ddd;
} 
.table-bordered th {
    color: #1e6bb8;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.table-bordered th, .table-bordered td {
    text-align: center;
}
.table-bordered td {
    word-break: break-all;
}
.red {
    background: red;
}

button[disabled] {
   cursor: not-allowed;
}
.green {
    background: green;
}

.yellow {
    background: yellow;
}
.form-group {
    margin-bottom:0;
}
.has-error {
    color: red;
    font-size: 0.8em;
}
textarea.form-control.ng-touched.ng-dirty.ng-invalid {
    border-color:red;
}

.no-actions th:first-child {
    width:50px;
}

/deep/ .card-header, /deep/ .card-header .btn-link {
    font-size: 1.05em !important;
    font-weight:bold;
    white-space: normal !important;
}
.dpr_grp_label {
  font-weight:bold; 
  display:inline-block;
  margin-right: 3px;
}
.dprgroupsContainer {
    vertical-align: middle;
    line-height:2;
    padding:2px 0;
}
.noPadding {
    padding:0;
}
.loader {
    display: inline-block;
    background: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5000;
    position: absolute;
    opacity: 0.5;
}

    .loader:after {
        content: " ";
        display: block;
        border-radius: 50%;
        width: 0;
        height: 0;
        margin: 6px;
        box-sizing: border-box;
        border: 26px solid #fff;
        border-color: #fff transparent #fff transparent;
        animation: lds-hourglass 1s infinite;
        position: absolute;
        top: 45%;
        left: 45%;
        z-index: 5002;
    }

@keyframes loader {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    100% {
        transform: rotate(1800deg);
    }
}



