
<ngb-alert *ngIf="successMessage" class="successMessage" [type]="alertType" (close)="successMessage = null">{{successMessage}}</ngb-alert>
<div class="row dropdown-container" *ngIf="nextyearFiveAccordian">    
    <div ngbDropdown class="d-inline-block">
        <!---->
        <button  class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Export</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item" (click)="exportOption = 'Export Support Groups';ExportGroupWise() ">Export Support Groups</button>
            <button class="dropdown-item" (click)="exportOption = 'Export All';ExportFile() ">Export All</button>
        </div>
    </div>    
</div>
<ngx-spinner></ngx-spinner>
<div class="table-responsive">

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Work Groups</th>
                <th>Serial No.</th>
                <th>DPR Groups</th>
                <th>Actions</th>
            </tr>
        </thead>
        <ng-container *ngFor="let item of bpmReference | groupBy:'groupName';  let i = index;">
            <tr>
                <td class="group" [attr.rowspan]="item.value.length">
                    {{item.key}}

                </td>
                <td>
                    {{ item.value[0].serialNo}}

                </td>

                <td class="group-item" [ngClass]="{'bold':item.value[0].regionName.toLowerCase()==='northeast' || item.value[0].regionName.toLowerCase()==='southeast' || item.value[0].regionName.toLowerCase()==='central' || item.value[0].regionName.toLowerCase()==='northwest' || item.value[0].regionName.toLowerCase()==='southwest' || item.value[0].regionName.toLowerCase()==='international'}">{{item.value[0].regionName}}</td>
                <td *ngIf="item.value[0].brid!=0">
                    <i class="fa fa-eye" (click)="navigateToViewDashboard(item.value[0])"></i>
                </td>
                <td class="no-data" *ngIf="item.value[0].brid==0">
                    <i class="fa fa-eye-slash" data-toggle="tooltip" title="Data not entered!"></i>
                </td>
            </tr>
            <ng-container *ngFor="let gitem of item.value;  let i = index;">

                <tr *ngIf="i!=0">
                    <td>
                        {{ gitem.serialNo}}

                    </td>

                    <td class="group-item" [ngClass]="{'bold':gitem.regionName.toLowerCase()==='northeast' || gitem.regionName.toLowerCase()==='southeast' || gitem.regionName.toLowerCase()==='central' || gitem.regionName.toLowerCase()==='northwest' || gitem.regionName.toLowerCase()==='southwest' || gitem.regionName.toLowerCase()==='international'}">
                        {{gitem.regionName}}
                    </td>
                    <td *ngIf="gitem.brid !=0">
                        <i class="fa fa-eye" (click)="navigateToViewDashboard(gitem)"></i>
                    </td>
                    <td class="no-data" *ngIf="gitem.brid == 0">
                        <i class="fa fa-eye-slash no-data" data-toggle="tooltip" title="Data not entered!"></i>
                    </td>
                </tr>

            </ng-container>


        </ng-container>
        <tr *ngIf="showLoader==true"><td colspan="4" class="text-center ">
    <div class="spinner-border"></div>
</td></tr>
        <tr [hidden]="bpmReference.length"><td colspan="4" class="text-center">No records found</td></tr>

    </table>



</div>
