.table-responsive{
    width: 100%;
    overflow-x:inherit;
    overflow-y:inherit;
    margin-top:1rem;
    }
    th:last-child {
        width: 10% !important;
    }
    [hidden] {
        display: none;
    }
    .button-container{
        margin: 27px 0;
    }
    .fa {
        margin: 0 3px;
        color: #007bff;
        cursor:pointer;
    }
    .btn.btn-outline-primary {
        /*width:100%;*/
        min-width:150px;
    }
    td.group{
        vertical-align:middle;
    }
    .table-bordered th {
        color: #1e6bb8;
        text-align: center;
    }
    .table-bordered td{
        text-align:center;
    }
    td.group-item {
        padding: 0.35rem;
        text-align: left !important;
    }
    .table td, .table th{
        padding:0.25rem !important;
    }
    td.bold {
        font-weight: 700 !important;
    }
    .successMessage {
        top: 20px;
        position: relative;
    }
    td.no-data {
        cursor: default;
    }
    .dropdown-menu {
        overflow-y: scroll;
        max-height: 14rem;
    }
    