.dropdown-container {
  margin-top: 3rem;
}

.d-inline-block, .btn-outline-primary.dropdown-toggle {
  width: 100%;
}

.has-error {
  color: red;
}

.homepageLinksContainer {
  margin-top: 2rem;
}

.homepageLinks {
  margin: 1rem,0;
  background: #f0f0f0;
  padding: 2rem;
  text-align: center;
  border: 1px solid #ddd;
  overflow: hidden;
}

  .homepageLinks .fa {
    margin: 0 3px;
    display: block;
    color: #007bff;
    cursor: pointer;
    font-size: 3em;
  }

  .homepageLinks a:hover {
    text-decoration: none;
  }

.dropdown-menu {
  overflow-y: scroll;
  max-height: 14rem;
  width: 100%;
}

.btn.link {
  background: transparent;
  color: #007bff;
  font-size: 1.2em;
}

  .btn.link:focus {
    outline: 0 !important;
    border: 0 !important;
  }
