
<div class="row dropdown-container">
  <div class="col">
    <div class="d-inline-block" ngbDropdown>
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle> {{selectedYear}}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="dropdown-item" *ngFor="let year of years" (click)="ChangeYear(year)">{{year}}</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>{{selectedRegion.regionName}}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
        <button class="dropdown-item" *ngFor="let region of regions" (click)="ChangeRegion(region)">{{region.regionName}}</button>
      </div>
    </div>
    <span *ngIf="showValidation" class="has-error">Please Select Group To Enter Top Priority Sheets.</span>
  </div>
</div>

<div class="row homepageLinksContainer">
  <div class="col">
    <div class="homepageLinks" style="" (click)="selectedYear===currentYear && navigateToDashboard()">
      <i class="fa fa-edit"></i>
      <button class="btn link" [disabled]="selectedYear!=currentYear">Enter My Top Priority Sheets</button>
      <!---->
    </div>
  </div>
  <div class="col">
    <div class="homepageLinks" routerLink="dprgroups" routerLinkActive="active">
      <i class="fa fa-eye"></i>
      <button class="btn link">See All Top Priority Sheets</button>
    </div>
  </div>
  <div class="col">
    <div class="homepageLinks" routerLink="mydprgroups" routerLinkActive="active">
      <i class="fa fa-eye"></i>
      <button class="btn link">See My Top Priority Sheets</button>
    </div>
  </div>
</div>
