.get-details {
    margin-top: 0;
    }
    /*.smart-table-container {
        position: relative;
        bottom: 97px;
    }*/
    /* You can add global styles to this file, and also import other style files */
    .dropdown-container .col {
        padding-top: 1rem;
    }
    .year-dropdown {
        position: relative;
        top: 44%;  
        right: 4%;
    }
    .dropdown-container {
        padding-bottom: 1rem;
    }
    
    /* table css */
    
    a.ng2-smart-action {
        padding: 5px;
    }
    td.bold{
        font-weight: 700 !important;
    }
    
    :host /deep/ ng2-smart-table {
        font-size: 16px;
    }
    
        :host /deep/ ng2-smart-table table {
            border-style: inset;
            border-color: initial;
            border-image: initial;
            border-width: 2px;
            display: table;
            border-spacing: 2px;
            border-color: grey;
        }
    
        :host /deep/ ng2-smart-table thead > tr {
            /*background-color: #0072c6 !important;
      color: #fff;*/
            font-size: 1rem;
            color: #1e6bb8;
        }
    
            :host /deep/ ng2-smart-table thead > tr > th {
                border: 1px solid grey;
            }
    
    
        :host /deep/ ng2-smart-table table > tbody > tr > td {
            box-sizing: padding-box;
            border: 1px solid grey;
        }
    
    tbody {
        text-align: center;
    }
    
    .table-bordered th {
        font-size: 1rem;
        color: #1e6bb8;
    }
    
    .btn-link {
        white-space: normal !important;
    }
    /*table css end */