
<ngb-alert *ngIf="successMessage" class="successMessage" [type]="alertType" (close)="successMessage = null">{{successMessage}}</ngb-alert>
<div class="row dropdown-container" *ngIf="nextyearFiveAccordian">
</div>

<ngx-spinner></ngx-spinner>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Work Groups</th>
                <th>DPR Groups</th>
                <th>Actions</th>
            </tr>
        </thead>
        <ng-container *ngFor="let item of bpmReference | groupBy:'GroupName';  let i = index;">
            <tr [hidden]="bpmReference == undefined">
                <td class="group" [attr.rowspan]="item.value.length">
                    {{item.key}}

                </td>
                <td>{{item.value[0].RegionName}}</td>
                <td>
                    <i class="fa fa-eye" (click)="navigateToViewDashboard(item.value[0])"></i>
                </td>
            </tr>
            <ng-container *ngFor="let gitem of item.value;  let i = index;">

                <tr *ngIf="i!=0">
                    <td>
                        {{gitem.RegionName}}
                    </td>
                    <td>
                        <i class="fa fa-eye" (click)="navigateToViewDashboard(gitem)"></i>
                    </td>
                </tr>
            </ng-container>
        </ng-container>
        <tr [hidden]="bpmReference.length"><td colspan="3" class="text-center">No records found</td></tr>
    </table>

</div>