<div *ngIf="topFiveAccordian">
    <app-accordion-view-list [currentYear]="currentYear"></app-accordion-view-list>
</div>
<div *ngIf="nextyearFiveAccordian">
    <!-- <new-app-accordion-view-list></new-app-accordion-view-list> -->
    <app-new-year-accordion-view-list></app-new-year-accordion-view-list>
</div>
