<div *ngIf="topFiveAccordian">
    <app-accordion-menu-list [currentYear]="currentYear"></app-accordion-menu-list>
    </div>
    <div *ngIf="nextyearFiveAccordian">
        <app-next-year-accordian-menu-list [currentYear]="currentYear" [BRID]="BRID"></app-next-year-accordian-menu-list>
    </div>
    