
.dashboard-header {
  padding: 1rem;
  text-align: center;
  background: #0072c6;
  color: #fff;
}

.app-title {
  display: inline-block;
  font-size: 1.5em;
}

.export-pdf-btn {
  /*background: #0072c6;*/
  margin: 5px;
}

.logo {
  display: inline-block;
  width: 10%;
  min-width: 92px;
  max-width: 100px;
  margin-bottom: 1rem;
}

.fa-home {
  position: absolute;
  right: 5px;
  font-size: 1.5em;
  top: 1.25rem;
}

.expand-collapse-btn {
  margin: 1rem;
  margin-top: 0;
}

.landingPage {
  margin: 30px;
  text-align: center;
  vertical-align: middle;
  width: 20%;
  /*background-image: url('assets/landingpage.jpg') ;*/
}

.dropdown-container {
  padding-bottom: 1rem;
}

.get-details {
  margin-top: 0;
}

.btn btn-outline-primary float-left dropdown-toggle {
  position: absolute;
  display: inline-block;
  word-wrap: break-word;
  width: 60%;
}

.dropdown-container .col {
  padding-top: 1rem;
}

.d-inline-block.dropdown, .d-inline-block.dropdown .btn {
  display: inline-block;
  width: 100%;
}

.btn btn-outline-primary float-left dropdown-toggle {
  width: 150px;
}

.container {
  max-height: calc(100% - 180px);
  /* overflow-y: auto; */
  margin-bottom: 4rem;
}

footer {
  padding: 0.2rem;
  background: #f0f0f0;
  color: #666;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 1em;
  border-top: 1px solid #ddd;
}
