<div class="col dashboard-header">
  <a routerLink="/" routerLinkActive="active">
    <img class="float-left logo" src="/Content/Images/dpr-logo.jpg" alt="DPR Construction" />
  </a>
  <h3 class="app-title">{{title}} <span *ngIf="!landingPage"> For  {{selectedYear}} </span> </h3> <i class="fa fa-home" *ngIf="!landingPage" routerLink="/" routerLinkActive="active"></i>
</div>
<div class="container">
  <router-outlet></router-outlet>

</div>
<!--<footer class="text-center">Powered By vConstruct</footer>-->
