
<div class="row dropdown-container">
  <div class="col-sm-6 col-12 dprgroupsContainer">
    <span class="dpr_grp_label"> Group : </span> <span class="dpr_grp">{{RegionName}}</span>
  </div>
  <div class="col-sm-3 col-6 noPadding">
    <button class="export-pdf-btn btn btn-primary float-left" (click)="DownloadFile()" value="DownloadFile">Export Excel</button>
  </div>
  <div class="col-sm-3 col-6 noPadding">
    <button class="btn btn-primary float-right expand-collapse-btn" (click)="toggle(acc);">Collapse All</button>
  </div>
</div>
<ngx-spinner></ngx-spinner>
<ngb-accordion #acc="ngbAccordion" [activeIds]="activeIds" id="contentToConvert">
  <ngb-panel *ngIf="currentYear=='2021'||currentYear=='2022'">
    <ng-template ngbPanelTitle>
      <span>{{currentYear}} Narrative </span>
      <span *ngIf="tableList.narrative.updatedData!=''" style="margin-left:500px;font-size:small;font:caption;color:grey">Last Updated:{{tableList.narrative.updatedData}}</span>
    </ng-template>
    <ng-template ngbPanelContent>
      <ngb-alert *ngIf="tableList.narrative.successMessage" [type]="tableList.narrative.alertType" (close)="tableList.narrative.successMessage = null">{{ tableList.narrative.successMessage }}</ngb-alert>
      <div class="accordion-text">
        Please use this space to communicate in a short narrative format, what you want to achieve in  {{currentYear}} as part of your Business Planning efforts. This is your space to communicate or clarify information as part of your Plan. For example, think about where you want to take your business or function, what opportunities and/or barriers may exist, and what is your plan to make it successful.
      </div>
      <div class="table-responsive collapse show">
        <table class="table table-bordered no-actions">
          <thead>
          <th *ngFor="let title of tableList.narrative.titles">{{title}}</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of tableList.narrative.list; let i = index; " [hidden]="tableList.narrative.list== undefined">
              <td [hidden]="!tableList.narrative.isEdit[i]">{{item.description}}</td>
            </tr>
            <tr [hidden]="tableList.narrative.list.length"><td colspan="2" class="text-center">No records found</td></tr>

          </tbody>
        </table>
      </div>

    </ng-template>
  </ngb-panel>
  <ngb-panel *ngIf="caseOneAccordian && currentYear=='2020'" title="Top 5 Priorities (Company Strategies and Recession Planning)">

    <ng-template ngbPanelContent>
      <ngb-alert *ngIf="tableList.recessionPlanning.successMessage" [type]="tableList.recessionPlanning.alertType" (close)="tableList.recessionPlanning.successMessage = null">{{ tableList.recessionPlanning.successMessage }}</ngb-alert>
      <div class="row button-container">
        <div class="col">
          <button type="button" class="btn btn-primary pull-right" [hidden]="tableList.recessionPlanning.count == 5" (click)="tableList.recessionPlanning.AddNewRow($event)" [disabled]="tableList.recessionPlanning.addRow">Add</button>
        </div>
      </div>
      <div class="accordion-text">Please identify the Top 5 Priorities that your Business Unit or Region will take in 2020 to advance our company strategies and to better prepare in the event an upcoming recession  </div>


      <div class="table-responsive collapse show">

        <table class="table table-bordered">

          <thead>
            <tr>
              <th rowspan="2">#</th>
              <th rowspan="2">Category</th>
              <th style="width:70% !important;" rowspan="2">Priority (Not more than One for each Company Strategy) </th>
              <th rowspan="2">Actions</th>
            </tr>
            <tr><th>Get Work</th><th>Do Work</th><th>Take Care of People</th></tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of tableList.recessionPlanning.list; let i=index;" [hidden]="tableList.recessionPlanning.list == undefined">
              <td>{{i+1}}</td>

              <td [hidden]="!tableList.recessionPlanning.isEdit[i]">{{item.category}}</td>
              <td [hidden]="tableList.recessionPlanning.isEdit[i]">
                <form [formGroup]="angForm" novalidate>
                  <div class="form-group">
                    <textarea class="form-control" formControlName="category" maxlength="64" rows="2" [(ngModel)]="tableList.recessionPlanning.selectedRow.Category" required></textarea>


                  </div>
                  <div [hidden]="!angForm.controls['category'].invalid">

                    <span class="has-error">Category is Required</span>

                  </div>
                </form>
              </td>
              <td [hidden]="!tableList.recessionPlanning.isEdit[i]" [ngClass]="{'Data':item.Category == 'Data','VDC':item.Category == 'VDC','SelfPerformWork':item.Category == 'SelfPerformWork','PreFabrication':item.Category == 'PreFabrication','RecessionPlanning':item.Category == 'RecessionPlanning'}">{{item.Category}}</td>
              <td [hidden]="tableList.recessionPlanning.isEdit[i]">
                <div ngbDropdown class="d-inline-block">
                  <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{tableList.recessionPlanning.selectedRow.Category}}</button>
                  <div class="dropdown-list" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button (click)="tableList.recessionPlanning.selectedRow.Category = 'Data'" class="dropdown-item">Data</button>
                    <button (click)="tableList.recessionPlanning.selectedRow.Category = 'VDC'" class="dropdown-item">VDC</button>
                    <button class="dropdown-item" (click)="tableList.recessionPlanning.selectedRow.Category = 'SelfPerformWork'">Self Perform Work</button>
                    <button (click)="tableList.recessionPlanning.selectedRow.Category = 'PreFabrication'" class="dropdown-item">Pre-fabrication</button>
                    <button class="dropdown-item" (click)="tableList.recessionPlanning.selectedRow.Category = 'RecessionPlanning'">Recession Planning</button>

                  </div>
                </div>
              </td>
              <td [hidden]="!tableList.recessionPlanning.isEdit[i]">{{item.description}}</td>
              <td [hidden]="tableList.recessionPlanning.isEdit[i]">
                <form [formGroup]="angForm" novalidate>
                  <div class="form-group">
                    <textarea class="form-control" formControlName="description" maxlength="64" rows="2" [(ngModel)]="tableList.recessionPlanning.selectedRow.Description" required></textarea>
                  </div>
                  <div [hidden]="!angForm.controls['description'].invalid">

                    <span class="has-error"> Description is Required</span>

                  </div>
                </form>
              </td>
              <td>
                <button [disabled]="!tableList.recessionPlanning.isEditenabled" class="fa fa-edit" (click)="tableList.recessionPlanning.enableEdit($event,item,i);" [hidden]="!tableList.recessionPlanning.isEdit[i]"></button>
                <i class="fa fa-trash" [hidden]="!tableList.recessionPlanning.isEdit[i]" (click)="tableList.recessionPlanning.deleteItem($event,item,i);"></i>
                <button [disabled]="angForm.controls['description'].invalid" class="fa fa-save" (click)="tableList.recessionPlanning.Update($event,item,i);" [hidden]="tableList.recessionPlanning.isEdit[i]"></button>
                <i [hidden]="tableList.recessionPlanning.isEdit[i]" class="fa fa-close" (click)="tableList.recessionPlanning.reset($event,i);"></i>
              </td>
            </tr>

            <tr [hidden]="tableList.recessionPlanning.list.length || tableList.recessionPlanning.addRow"><td colspan="9" class="text-center">No records found</td></tr>

            <tr [hidden]="!tableList.recessionPlanning.addRow">
              <td>{{tableList.recessionPlanning.count}}</td>
              <td>
                <form [formGroup]="angForm" novalidate>
                  <div class="form-group">
                    <textarea class="form-control" formControlName="categoryadd" maxlength="64" rows="2" [(ngModel)]="tableList.recessionPlanning.addNewRow.Category" required></textarea>
                  </div>
                  <div [hidden]="!angForm.controls['categoryadd'].invalid">
                    <span class="has-error">Category is required.</span>
                  </div>
                </form>
              </td>
              <td>
                <div ngbDropdown class="d-inline-block">
                  <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{tableList.recessionPlanning.addNewRow.Category}}</button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button (click)="tableList.recessionPlanning.addNewRow.Category = 'Data'" class="dropdown-item">Data</button>
                    <button (click)="tableList.recessionPlanning.addNewRow.Category = 'VDC'" class="dropdown-item">VDC</button>
                    <button class="dropdown-item" (click)="tableList.recessionPlanning.addNewRow.Category = 'SelfPerformWork'">Self Perform Work</button>
                    <button (click)="tableList.recessionPlanning.addNewRow.Category = 'PreFabrication'" class="dropdown-item">Pre-fabrication</button>
                    <button (click)="tableList.recessionPlanning.addNewRow.Category = 'RecessionPlanning'" class="dropdown-item">Recession Planning</button>

                  </div>
                </div>
                <input type="text" [(ngModel)]="tableList.individualReady.addNewRow.Sales" />
              </td>
              <td>
                <form [formGroup]="angForm" novalidate>
                  <div class="form-group">
                    <textarea class="form-control" formControlName="descriptionadd" maxlength="64" rows="2" [(ngModel)]="tableList.recessionPlanning.addNewRow.Description" required></textarea>
                    <input class="form-control" formControlName="name">

                  </div>
                  <div [hidden]="!angForm.controls['descriptionadd'].invalid">
                    <!--&& (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">-->
                    <div *ngIf="angForm.controls['name'].errors.required">
                      <span class="has-error">Description is required.</span>
                    </div>
                  </div>
                </form>
              </td>

              <td>
                <button [disabled]="angForm.controls['descriptionadd'].invalid" class="fa fa-save" (click)="tableList.recessionPlanning.addNewItem($event);"></button>
                <i class="fa fa-close" (click)="tableList.recessionPlanning.cancel($event,item);"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-template>

  </ngb-panel>
  <ngb-panel *ngIf="!caseThreeAccordian">
    <ng-template ngbPanelTitle>
      <span>Top Priorities (Enhance Your Own Functions)</span>
      <span *ngIf="tableList.focusAreas.updatedData!=''" style="margin-left:230px;font-size:small;font:caption;color:grey">Last Updated:{{tableList.focusAreas.updatedData}}</span>
    </ng-template>
    <ng-template ngbPanelContent>
      <ngb-alert *ngIf="tableList.focusAreas.successMessage" [type]="tableList.focusAreas.alertType" (close)="tableList.focusAreas.successMessage = null">{{ tableList.focusAreas.successMessage }}</ngb-alert>
      <!--<div class="row button-container">
          <div class="col">
              <button type="button" class="btn btn-primary pull-right" [hidden]="tableList.focusAreas.count == 5" (click)="tableList.focusAreas.AddNewRow($event)" [disabled]="tableList.focusAreas.addRow">Add</button>
          </div>
      </div>-->
      <div *ngIf="groupName=='RBU'" class="accordion-text">{{RBFA}} </div>
      <div *ngIf="groupName!='RBU' && (groupName=='CSG' ||groupName=='SP' || groupName=='CM'||groupName=='WVE')" class="accordion-text">{{FA}} </div>
      <div class="table-responsive collapse show" style="overflow:visible">

        <table class="table table-bordered no-actions">
          <thead>
          <th *ngFor="let title of tableList.focusAreas.titles">{{title}}</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of tableList.focusAreas.list; let i = index; " [hidden]="tableList.focusAreas.list== undefined">
              <td>{{i+1}}</td>

              <td [hidden]="!tableList.focusAreas.isEdit[i]">
                {{item.strategicActions}}
                <div *ngIf="(currentYear=='2021'||currentYear=='2022')&& groupName!='RBU'" style="height: 30px;text-align: left;padding-top:4px">
                  <hr style="margin-top:9px;margin-bottom:4px;" />
                  <label style="font-size: small;">Check if this is an impact on the frontline?&nbsp;&nbsp;&nbsp;<input type="checkbox" value="" onclick="return false" [(ngModel)]="item.IsImpact"></label>
                  <!--<label style="padding-left: 20px;font-size: small;"><input type="checkbox" value="" onclick="return false" [(ngModel)]="item.RequireHelp">&nbsp;&nbsp;Check if you require any technology resources?</label>-->
                  <label style="padding-left: 20px;font-size: small;">Check if this an Ongoing Effort from last year&nbsp;&nbsp;&nbsp;<input type="checkbox" value="" onclick="return false" [(ngModel)]="item.OngoingEffort"></label>

                </div>
                <div *ngIf="(currentYear=='2021'||currentYear=='2022')" class="col-xs-12" style="text-align:left;margin-top:22px">
                  <span class="col-xs-4" style="font-size: small;"> Check the groups you need help from</span>
                  <div style="display:inline-block;" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <ng-multiselect-dropdown [placeholder]="'Select Groups'"
                                             name="drodpwnNormal"
                                             [data]="dropdownList"
                                             [(ngModel)]="item.focusAreaRequireGroups"
                                             [disabled]="true"
                                             [settings]="dropdownSettings"
                                             style="font-size: small;">
                    </ng-multiselect-dropdown>
                  </div>
                  <span *ngIf="(currentYear=='2021'||currentYear=='2022')&& groupName!='RBU'" class="col-xs-4" style="font-size: small;" data-toggle="tooltip" title="Do not include the cost for resources that are within the organization."> Estimated Incremental costs :</span>
                  <div *ngIf="(currentYear=='2021'||currentYear=='2022')&& groupName!='RBU'" style="display:inline-block;" data-toggle="tooltip" title="Do not include the cost for resources that are within the organization." class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <span *ngIf="item.incrementalCosts">${{item.incrementalCosts|number}}</span>
                    <!--<input type="number" readonly style="height:1.5rem!important" rows="1" [(ngModel)]="item.IncrementalCosts" />-->
                  </div>
                  <div class="row" style="padding-top:1em;">
                    <span class="col-xs-3" style="font-size: small;padding-top:2px;padding-left:1em;"> Select if your initiative supports the Integrated Top priorities</span>
                    <div style="display:inline-block;" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                      <ng-multiselect-dropdown [placeholder]="'Select Groups'"
                                               name="ItfNormal"
                                               [data]="ITFDropdown"
                                               [(ngModel)]="item.focusAreaSupportItfs"
                                               [disabled]="true"
                                               [settings]="dropdownSettings2"
                                               style="font-size: small; ">
                      </ng-multiselect-dropdown>

                    </div>
                  </div>
                </div>
              </td>

            </tr>
            <tr [hidden]="tableList.focusAreas.list.length"><td colspan="2" class="text-center">No records found</td></tr>

          </tbody>
        </table>
      </div>

    </ng-template>
  </ngb-panel>
  <ngb-panel *ngIf="currentYear=='2020'? !caseThreeAccordian:caseFourAccordian">
    <ng-template ngbPanelTitle>
      <span>{{currentYear}} Lease Modifications</span>
      <span *ngIf="tableList.leaseModifications.updatedData!=''" style="margin-left:404px;font-size:small;font:caption;color:grey">Last Updated:{{tableList.leaseModifications.updatedData}}</span>
    </ng-template>
    <ng-template ngbPanelContent>
      <ngb-alert *ngIf="tableList.leaseModifications.successMessage" [type]="tableList.leaseModifications.alertType" (close)="tableList.leaseModifications.successMessage = null">{{ tableList.leaseModifications.successMessage }}</ngb-alert>
      <div *ngIf="groupName=='RBU'" class="accordion-text">{{RBLM}} </div>
      <div *ngIf="groupName!='RBU' && (groupName=='CSG' ||groupName=='SP' || groupName=='CM'||groupName=='WVE')" class="accordion-text">{{LM}} </div>
      <div class="table-responsive collapse show">

        <table class="table table-bordered no-actions">
          <thead>
          <th *ngFor="let title of tableList.leaseModifications.titles">{{title}}</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of tableList.leaseModifications.list; let i = index; " [hidden]="tableList.leaseModifications.list.length == 0">
              <td>{{i+1}}</td>

              <td [hidden]="!tableList.leaseModifications.isEdit[i]">{{item.description}}</td>
              <td [hidden]="tableList.leaseModifications.isEdit[i]">
                <form [formGroup]="angForm" novalidate>
                  <div class="form-group">
                    <textarea class="form-control" formControlName="leasename" maxlength="200" rows="2" [(ngModel)]="tableList.leaseModifications.selectedRow.description" required></textarea>

                  </div>
                  <div [hidden]="!angForm.controls['leasename'].invalid">
                    <span class="has-error">Description is Required</span>
                  </div>
                </form>
              </td>
              <td class="date-width" [hidden]="!tableList.leaseModifications.isEdit[i]">{{item.date | date: 'MM/dd/yyyy'}}</td>
              <td [hidden]="tableList.leaseModifications.isEdit[i]">
                <form [formGroup]="angForm" novalidate>
                  <div class="form-group">
                    <textarea class="form-control" formControlName="datename" maxlength="200" rows="2" [(ngModel)]="tableList.leaseModifications.selectedRow.date" required></textarea>

                  </div>
                  <div [hidden]="!angForm.controls['datename'].invalid">
                    <span class="has-error">Date is Required</span>
                  </div>
                </form>
              </td>
              <td [hidden]="!tableList.leaseModifications.isEdit[i]">{{item.planOfRenewal}}</td>
              <td [hidden]="tableList.leaseModifications.isEdit[i]">
                <form [formGroup]="angForm" novalidate>
                  <div class="form-group">
                    <textarea class="form-control" formControlName="planname" maxlength="200" rows="2" [(ngModel)]="tableList.leaseModifications.selectedRow.planOfRenewal" required></textarea>

                  </div>
                  <div [hidden]="!angForm.controls['planname'].invalid">
                    <span class="has-error">Plan Of Renewal is Required</span>
                  </div>
                </form>
              </td>



              <!--<td>
                  <button class="fa fa-edit" (click)="tableList.leaseModifications.enableEdit($event,item,i);" [hidden]="!tableList.leaseModifications.isEdit[i]" [disabled]="!tableList.leaseModifications.isEditenabled"></button>
                  <i class="fa fa-trash" [hidden]="!tableList.leaseModifications.isEdit[i]" (click)="tableList.leaseModifications.deleteItem($event,item,i);"></i>
                  <button class="fa fa-save" (click)="tableList.leaseModifications.Update($event,item,i);" [hidden]="tableList.leaseModifications.isEdit[i]" [disabled]="angForm.controls['leasename'].invalid"></button>
                  <i [hidden]="tableList.leaseModifications.isEdit[i]" class="fa fa-close" (click)="tableList.leaseModifications.reset($event,i);"></i>
              </td>-->
            </tr>
            <tr [hidden]="tableList.leaseModifications.list.length || tableList.leaseModifications.addRow"><td colspan="4" class="text-center">No records found</td></tr>
            <tr [hidden]="!tableList.leaseModifications.addRow">
              <td>{{tableList.leaseModifications.count}}</td>
              <td>
                <form [formGroup]="angForm" novalidate>
                  <div class="form-group">
                    <textarea class="form-control" formControlName="leasenameadd" maxlength="200" rows="2" [(ngModel)]="tableList.leaseModifications.addNewRow.Description" required></textarea>

                  </div>
                  <div [hidden]="!angForm.controls['leasenameadd'].invalid">
                    <span class="has-error"> Description is required.</span>
                  </div>
                </form>
              </td>
              <td>
                <form [formGroup]="angForm" novalidate>
                  <div class="form-group">
                    <textarea class="form-control" formControlName="datenameadd" maxlength="200" rows="2" [(ngModel)]="tableList.leaseModifications.addNewRow.Date" required></textarea>

                  </div>
                  <div [hidden]="!angForm.controls['datenameadd'].invalid">
                    <span class="has-error">Date is required.</span>
                  </div>
                </form>
              </td>
              <td>
                <form [formGroup]="angForm" novalidate>
                  <div class="form-group">
                    <textarea class="form-control" formControlName="plannameadd" maxlength="200" rows="2" [(ngModel)]="tableList.leaseModifications.addNewRow.PlanOfRenewal" required></textarea>

                  </div>
                  <div [hidden]="!angForm.controls['plannameadd'].invalid">
                    <span class="has-error"> Plan Of Renewal is required.</span>
                  </div>
                </form>
              </td>
              <td>
                <button class="fa fa-save" (click)="tableList.leaseModifications.addNewItem($event);" [disabled]="angForm.controls['leasenameadd'].invalid ||angForm.controls['datenameadd'].invalid ||angForm.controls['plannameadd'].invalid"></button>
                <i class="fa fa-close" (click)="tableList.leaseModifications.cancel($event);"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </ng-template>
  </ngb-panel>
  <ngb-panel *ngIf="currentYear=='2020'? !caseThreeAccordian:caseFourAccordian">
    <ng-template ngbPanelTitle>
      <span>{{currentYear}} Capital Expenses</span>
      <span *ngIf="tableList.capitalExpenses.updatedData!=''" style="margin-left:436px;font-size:small;font:caption;color:grey">Last Updated:{{tableList.capitalExpenses.updatedData}}</span>
    </ng-template>
    <ng-template ngbPanelContent>
      <ngb-alert *ngIf="tableList.capitalExpenses.successMessage" [type]="tableList.capitalExpenses.alertType" (close)="tableList.capitalExpenses.successMessage = null">{{ tableList.capitalExpenses.successMessage }}</ngb-alert>
      <!--<div class="row button-container">
          <div class="col">
              <button type="button" class="btn btn-primary pull-right" [hidden]="tableList.capitalExpenses.count == 5" (click)="tableList.capitalExpenses.AddNewRow($event)" [disabled]="tableList.capitalExpenses.addRow">Add</button>
          </div>
      </div>-->
      <div *ngIf="groupName=='RBU'" class="accordion-text">{{RBCE}} </div>
      <div *ngIf="groupName!='RBU' &&  (groupName=='CSG' ||groupName=='SP' || groupName=='CM'||groupName=='WVE')" class="accordion-text">{{CE}} </div>
      <div class="table-responsive collapse show">

        <table class="table table-bordered no-actions">
          <thead>
          <th *ngFor="let title of tableList.capitalExpenses.titles">{{title}}</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of tableList.capitalExpenses.list; let i = index; " [hidden]="tableList.capitalExpenses.list.length == 0">
              <td>{{i+1}}</td>

              <td [hidden]="!tableList.capitalExpenses.isEdit[i]">{{item.description}}</td>
              <td [hidden]="tableList.capitalExpenses.isEdit[i]">
                <form [formGroup]="angForm" novalidate>
                  <div class="form-group">
                    <textarea class="form-control" formControlName="descriptionname" maxlength="200" rows="2" [(ngModel)]="tableList.capitalExpenses.selectedRow.Description" required></textarea>

                  </div>
                  <div [hidden]="!angForm.controls['descriptionname'].invalid">
                    <span class="has-error">Description is Required</span>
                  </div>
                </form>
              </td>
              <td class="amount-width" [hidden]="!tableList.capitalExpenses.isEdit[i]">${{item.amount | number}}</td>
              <td [hidden]="tableList.capitalExpenses.isEdit[i]">
                <form [formGroup]="angForm" novalidate>
                  <div class="form-group">
                    <textarea class="form-control" formControlName="amountname" maxlength="200" rows="2" [(ngModel)]="tableList.capitalExpenses.selectedRow.Amount" required></textarea>

                  </div>
                  <div [hidden]="!angForm.controls['amountname'].invalid">
                    <span class="has-error">Amount is Required</span>
                  </div>
                </form>
              </td>


              <!--<td>
                  <button class="fa fa-edit" (click)="tableList.capitalExpenses.enableEdit($event,item,i);" [hidden]="!tableList.capitalExpenses.isEdit[i]" [disabled]="!tableList.capitalExpenses.isEditenabled"></button>
                  <i class="fa fa-trash" [hidden]="!tableList.capitalExpenses.isEdit[i]" (click)="tableList.capitalExpenses.deleteItem($event,item,i);"></i>
                  <button class="fa fa-save" (click)="tableList.capitalExpenses.Update($event,item,i);" [hidden]="tableList.capitalExpenses.isEdit[i]" [disabled]="angForm.controls['expensename'].invalid"></button>
                  <i [hidden]="tableList.capitalExpenses.isEdit[i]" class="fa fa-close" (click)="tableList.capitalExpenses.reset($event,i);"></i>
              </td>-->
            </tr>
            <tr [hidden]="tableList.capitalExpenses.list.length || tableList.capitalExpenses.addRow"><td colspan="3" class="text-center">No records found</td></tr>
            <tr [hidden]="!tableList.capitalExpenses.addRow">
              <td>{{tableList.capitalExpenses.count}}</td>
              <td>
                <form [formGroup]="angForm" novalidate>
                  <div class="form-group">
                    <textarea class="form-control" formControlName="descriptionnameadd" maxlength="200" rows="2" [(ngModel)]="tableList.capitalExpenses.addNewRow.Description" required></textarea>

                  </div>
                  <div [hidden]="!angForm.controls['descriptionnameadd'].invalid">
                    <span class="has-error">Description is required.</span>
                  </div>
                </form>
              </td>
              <td>
                <form [formGroup]="angForm" novalidate>
                  <div class="form-group">
                    <textarea class="form-control" formControlName="amountnameadd" maxlength="200" rows="2" [(ngModel)]="tableList.capitalExpenses.addNewRow.Amount" required></textarea>

                  </div>
                  <div [hidden]="!angForm.controls['amountnameadd'].invalid">
                    <span class="has-error">Amount is required.</span>
                  </div>
                </form>
              </td>
              <td>
                <button class="fa fa-save" (click)="tableList.capitalExpenses.addNewItem($event);" [disabled]="angForm.controls['descriptionnameadd'].invalid || angForm.controls['amountnameadd'].invalid"></button>
                <i class="fa fa-close" (click)="tableList.capitalExpenses.cancel($event);"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </ng-template>
  </ngb-panel>
  <ngb-panel *ngIf="caseThreeAccordian">
    <ng-template ngbPanelTitle>
      <span>Top Priorities That Impact Others</span>
      <span *ngIf="tableList.integratedTopFive.updatedData!=''" style="margin-left:230px;font-size:small;font:caption;color:grey">Last Updated:{{tableList.integratedTopFive.updatedData}}</span>
    </ng-template>
    <ng-template ngbPanelContent>
      <ngb-alert *ngIf="tableList.integratedTopFive.successMessage" [type]="tableList.integratedTopFive.alertType" (close)="tableList.integratedTopFive.successMessage = null">{{ tableList.integratedTopFive.successMessage }}</ngb-alert>
      <!--<div class="row button-container">
          <div class="col">
              <button type="button" class="btn btn-primary pull-right" [hidden]="tableList.integratedTopFive.count == 5" (click)="tableList.integratedTopFive.AddNewRow($event)" [disabled]="tableList.integratedTopFive.addRow">Add</button>
          </div>
      </div>-->
      <div class="accordion-text">
        Please identify the Top 5 priorities that your integrated work groups will take in {{currentYear}} to improve our performance that impact other work groups and/or our project teams.
      </div>
      <div class="table-responsive collapse show">

        <table class="table table-bordered no-actions">
          <thead>
          <th *ngFor="let title of tableList.integratedTopFive.titles">{{title}}</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of tableList.integratedTopFive.list; let i = index; " [hidden]="tableList.integratedTopFive.list.length == 0">
              <td>{{i+1}}</td>

              <td [hidden]="!tableList.integratedTopFive.isEdit[i]">{{item.strategicActions}}</td>
              <td [hidden]="tableList.integratedTopFive.isEdit[i]">
                <form [formGroup]="angForm" novalidate>
                  <div class="form-group">
                    <textarea class="form-control" formControlName="integrated" maxlength="200" rows="2" [(ngModel)]="tableList.integratedTopFive.selectedRow.StrategicActions" required></textarea>

                  </div>
                  <div [hidden]="!angForm.controls['integrated'].invalid">
                    <span class="has-error"> Strategic Action is Required</span>
                  </div>
                </form>
              </td>


              <!--<td>
                  <button class="fa fa-edit" (click)="tableList.integratedTopFive.enableEdit($event,item,i);" [hidden]="!tableList.integratedTopFive.isEdit[i]" [disabled]="!tableList.integratedTopFive.isEditenabled"></button>
                  <i class="fa fa-trash" [hidden]="!tableList.integratedTopFive.isEdit[i]" (click)="tableList.integratedTopFive.deleteItem($event,item,i);"></i>
                  <button class="fa fa-save" (click)="tableList.integratedTopFive.Update($event,item,i);" [hidden]="tableList.integratedTopFive.isEdit[i]" [disabled]="angForm.controls['integrated'].invalid"></button>
                  <i [hidden]="tableList.integratedTopFive.isEdit[i]" class="fa fa-close" (click)="tableList.integratedTopFive.reset($event,i);"></i>
              </td>-->
            </tr>
            <tr [hidden]="tableList.integratedTopFive.list.length || tableList.integratedTopFive.addRow"><td colspan="3" class="text-center">No records found</td></tr>
            <tr [hidden]="!tableList.integratedTopFive.addRow">
              <td>{{tableList.integratedTopFive.count}}</td>
              <td>
                <form [formGroup]="angForm" novalidate>
                  <div class="form-group">
                    <textarea class="form-control" formControlName="integratedadd" maxlength="200" rows="2" [(ngModel)]="tableList.integratedTopFive.addNewRow.StrategicActions" required></textarea>

                  </div>
                  <div [hidden]="!angForm.controls['integratedadd'].invalid">
                    <span class="has-error"> Strategic Action is required.</span>
                  </div>
                </form>
              </td>
              <td>
                <button class="fa fa-save" (click)="tableList.integratedTopFive.addNewItem($event);" [disabled]="angForm.controls['integratedadd'].invalid"></button>
                <i class="fa fa-close" (click)="tableList.integratedTopFive.cancel($event);"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </ng-template>
  </ngb-panel>

</ngb-accordion>
