
<div class="row dropdown-container">
    <div class="col-sm-6 col-12 dprgroupsContainer">
        <span class="dpr_grp_label"> Group : </span> <span class="dpr_grp">{{RegionName}}</span>
     </div>
    <div class="col-sm-3 col-6 noPadding">
        <!--<a class="send-pdf-btn btn btn-primary" href="mailto:?subject=Report&body=Please Find the attachment" target="_top">Send Email</a>-->
        <button class="export-pdf-btn btn btn-primary float-left" (click)="DownloadFile()" value="DownloadFile">Export PDF</button>

        <!--&attachment="C:\Users\jagrutiv\Documents\Project\BPM\Extras" target="_top">Send Email</a>-->
    </div>
    <div class="col-sm-3 col-6 noPadding">
        <button class="btn btn-primary float-right expand-collapse-btn" (click)="toggle(acc);">Collapse All</button>
    </div>
</div>


<ngb-accordion #acc="ngbAccordion" [activeIds]="activeIds" id="contentToConvert">
    <ngb-panel title="{{prevYear}} Successes">
        <ng-template ngbPanelContent>
            <!--<app-smart-table [settings]="successSettings"></app-smart-table>-->
            <ngb-alert *ngIf="tableList.success.successMessage" [type]="tableList.success.alertType" (close)="tableList.success.successMessage = null">{{ tableList.success.successMessage }}</ngb-alert>
            <!--<div class="row button-container"><div class="col"><button type="button" class="btn btn-primary pull-right" [hidden]="tableList.success.count == 5" (click)="tableList.success.AddNewRow($event)">Add</button></div></div>-->
            <div class="table-responsive collapse show">

                <table class="table table-bordered no-actions">
                    <thead>
                    <th *ngFor="let title of tableList.success.titles">{{title}}</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of tableList.success.list; let i = index; " [hidden]="tableList.success.list == undefined">
                            <td>{{i+1}}</td>

                            <td [hidden]="!tableList.success.isEdit[i]">{{item.CurrentSuccess1}}</td>
                            <td [hidden]="tableList.success.isEdit[i]">
                                <form [formGroup]="angForm" novalidate>
                                    <div class="form-group">
                                        <textarea class="form-control" formControlName="name" maxlength="200" rows="2" [(ngModel)]="tableList.success.selectedRow.CurrentSuccess1" required></textarea>
                                        <!--<input class="form-control" formControlName="name">-->

                                    </div>
                                    <div *ngIf="angForm.controls['name'].invalid">
                                        <span class="has-error"> Current Success is Required</span>
                                    </div>
                                </form>
                                <!--<textarea [(ngModel)]="tableList.success.selectedRow.CurrentSuccess1" required></textarea>-->
                                <!--<form [formGroup]="registeredForm" novalidate>
                                <div class="form-group">
                                    <textarea class="form-control" formControlName="firstName" maxlength="100" rows="2" [(ngModel)]="tableList.success.selectedRow.CurrentSuccess1" required></textarea>

                                </div>
                                <div *ngIf="registeredForm.controls['firstName'].invalid">
                                    <span> Name is Required</span>
                                    <!--&& f.firstName.errors" class="invalid-feedback">-->
                                <!--<div *ngIf="regiteredForm.controls['firstname']">Name is required</div>-->
                                <!--</div>
                                </form>-->
                            </td>


                            <!--<td>
                                <i class="fa fa-edit" (click)="tableList.success.enableEdit($event,item,i);" [hidden]="!tableList.success.isEdit[i]"></i>
                                <i class="fa fa-trash" [hidden]="!tableList.success.isEdit[i]" (click)="tableList.success.deleteItem($event,item,i);"></i>
                                <i class="fa fa-save" (click)="tableList.success.Update($event,item,i);" [hidden]="tableList.success.isEdit[i]"></i>
                                <i [hidden]="tableList.success.isEdit[i]" class="fa fa-close" (click)="tableList.success.reset($event,i);"></i>
                            </td>-->
                        </tr>
                        <tr [hidden]="tableList.success.list.length"><td colspan="2" class="text-center">No records found</td></tr>
                        <tr [hidden]="!tableList.success.addRow">
                            <td>{{tableList.success.count}}</td>
                            <td>
                                <form [formGroup]="angForm" novalidate>
                                    <div class="form-group">
                                        <textarea class="form-control" formControlName="name" maxlength="200" rows="2" [(ngModel)]="tableList.success.addNewRow.CurrentSuccess1" required></textarea>
                                        <!--<input class="form-control" formControlName="name">-->

                                    </div>
                                    <div *ngIf="angForm.controls['name'].invalid">
                                        <!--&& (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
                                        <div *ngIf="angForm.controls['name'].errors.required">-->
                                        <span class="has-error"> Current Success is required.</span>
                                        <!--</div>-->
                                    </div>
                                </form>
                                <!--<textarea [(ngModel)]="tableList.success.addNewRow.CurrentSuccess1"></textarea>-->
                            </td>
                            <!--<td>
                                <i class="fa fa-save" (click)="tableList.success.addNewItem($event);"></i>
                                <i class="fa fa-close" (click)="tableList.success.cancel($event);"></i>
                            </td>-->
                        </tr>
                    </tbody>
                </table>
            </div>

        </ng-template>
    </ngb-panel>
    <!--<ngb-panel title="{{currentYear}} Challenges/Deltas" >
      <ng-template ngbPanelTitle>
       </ng-template>
      <ng-template ngbPanelContent>
        <app-smart-table [settings]="challengeSettings"></app-smart-table>
          <div class="row button-container"><div class="col"><button type="button" class="btn btn-primary pull-right" [hidden]="count >5" (click)="tableList.challenges.AddNewRow($event)">Add</button></div></div>

          <div class="table-responsive collapse show">

              <table class="table table-bordered no-actions">

                  <thead>
                      <th *ngFor="let title of tableList.challenges.titles">{{title}}</th>
                      </thead>
                  <tbody>
                      <tr *ngFor="let item of tableList.challenges.list">
                          <td>{{item.CCID}}</td>

                          <td [hidden]="!tableList.challenges.isEdit">{{item.CurrentChallenges}}</td>
                          <td [hidden]="tableList.challenges.isEdit"><input type="text" [(ngModel)]="tableList.challenges.selectedRow.challenges" /></td>

                          <td>
                              <i class="fa fa-edit" (click)="tableList.challenges.enableEdit($event,item);" [hidden]="!tableList.challenges.isEdit"></i>
                              <i class="fa fa-trash" [hidden]="!tableList.challenges.isEdit" (click)="tableList.challenges.deleteItem($event,item);"></i>
                              <i class="fa fa-save" (click)="tableList.challenges.Update($event,item);" [hidden]="tableList.challenges.isEdit"></i>
                              <i [hidden]="tableList.challenges.isEdit" class="fa fa-close" (click)="tableList.challenges.reset($event,item);"></i>
                          </td>
                      </tr>
                      <tr [hidden]="!tableList.challenges.addRow">
                          <td>{{tableList.challenges.addNewRow.no}}</td>
                          <td><input type="text" [(ngModel)]="tableList.challenges.addNewRow.challenges" /></td>
                          <td>
                              <i class="fa fa-save" (click)="tableList.challenges.addNewItem($event);"></i>
                              <i class="fa fa-close" (click)="tableList.challenges.cancel($event,item);"></i>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </ng-template>
    </ngb-panel>-->
    <ngb-panel title="{{prevYear}} Opportunities To Finish Strong">
        <ng-template ngbPanelContent>
            <!--<app-smart-table [settings]="OppurtunitiesToFnSettings"></app-smart-table>-->
            <ngb-alert *ngIf="tableList.opportunitiestoFinish.successMessage" [type]="tableList.opportunitiestoFinish.alertType" (close)="tableList.opportunitiestoFinish.successMessage = null">{{ tableList.opportunitiestoFinish.successMessage }}</ngb-alert>
            <!--<div class="row button-container"><div class="col"><button type="button" class="btn btn-primary pull-right" [hidden]="tableList.opportunitiestoFinish.count == 5" (click)="tableList.opportunitiestoFinish.AddNewRow($event)">Add</button></div></div>-->

            <div class="table-responsive collapse show">

                <table class="table table-bordered no-actions">

                    <thead>
                    <th *ngFor="let title of tableList.opportunitiestoFinish.titles">{{title}}</th>
                    </thead>
                    <tbody>

                        <tr *ngFor="let item of tableList.opportunitiestoFinish.list; let i = index; " [hidden]="tableList.opportunitiestoFinish.list == undefined">
                            <td>{{i+1}}</td>

                            <td [hidden]="!tableList.opportunitiestoFinish.isEdit[i]">{{item.NextOpportunities}}</td>
                            <td [hidden]="tableList.opportunitiestoFinish.isEdit[i]">
                                <form [formGroup]="angForm" novalidate>
                                    <div class="form-group">
                                        <textarea class="form-control" formControlName="name" maxlength="200" rows="2" [(ngModel)]="tableList.opportunitiestoFinish.selectedRow.NextOpportunities" required></textarea>
                                        <!--<input class="form-control" formControlName="name">-->

                                    </div>
                                    <div *ngIf="angForm.controls['name'].invalid">
                                        <!--&& (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
                                        <div *ngIf="angForm.controls['name'].errors.required">-->
                                        <span class="has-error">Next Opportunity is Required</span>
                                        <!--</div>-->
                                    </div>
                                </form>
                            </td>

                            <!--<td>
                                <i class="fa fa-edit" (click)="tableList.opportunitiestoFinish.enableEdit($event,item,i);" [hidden]="!tableList.opportunitiestoFinish.isEdit[i]"></i>
                                <i class="fa fa-trash" [hidden]="!tableList.opportunitiestoFinish.isEdit[i]" (click)="tableList.opportunitiestoFinish.deleteItem($event,item,i);"></i>
                                <i class="fa fa-save" (click)="tableList.opportunitiestoFinish.Update($event,item,i);" [hidden]="tableList.opportunitiestoFinish.isEdit[i]"></i>
                                <i [hidden]="tableList.opportunitiestoFinish.isEdit[i]" class="fa fa-close" (click)="tableList.opportunitiestoFinish.reset($event,i);"></i>
                            </td>-->
                        </tr>
                        <tr [hidden]="tableList.opportunitiestoFinish.list.length"><td colspan="2" class="text-center">No records found</td></tr>
                        <tr [hidden]="!tableList.opportunitiestoFinish.addRow">
                            <td>{{tableList.opportunitiestoFinish.count}}</td>
                            <td>
                                <form [formGroup]="angForm" novalidate>
                                    <div class="form-group">
                                        <textarea class="form-control" formControlName="name" maxlength="200" rows="2" [(ngModel)]="tableList.opportunitiestoFinish.addNewRow.NextOpportunities" required></textarea>
                                        <!--<input class="form-control" formControlName="name">-->

                                    </div>
                                    <div *ngIf="angForm.controls['name'].invalid">
                                        <!--&& (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
                                        <div *ngIf="angForm.controls['name'].errors.required">-->
                                        <span class="has-error">Next Opportunity is required.</span>
                                        <!--</div>-->
                                    </div>
                                </form>
                            </td>
                            <!--<td>
                                <i class="fa fa-save" (click)="tableList.opportunitiestoFinish.addNewItem($event);"></i>
                                <i class="fa fa-close" (click)="tableList.opportunitiestoFinish.cancel($event);"></i>
                            </td>-->
                        </tr>
                    </tbody>
                </table>
            </div>
        </ng-template>
    </ngb-panel>
    <ngb-panel title="{{currentYear}} Goals/Opportunities">
        <ng-template ngbPanelContent>
            <ngb-alert *ngIf="tableList.opportunities.successMessage" [type]="tableList.opportunities.alertType" (close)="tableList.opportunities.successMessage = null">{{ tableList.opportunities.successMessage }}</ngb-alert>
            <!--<div class="row button-container"><div class="col"><button type="button" class="btn btn-primary pull-right" [hidden]="tableList.opportunities.count ==5" (click)="tableList.opportunities.AddNewRow($event)">Add</button></div></div>-->

            <div class="table-responsive collapse show">

                <table class="table table-bordered no-actions">

                    <thead>
                    <th *ngFor="let title of tableList.opportunities.titles">{{title}}</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of tableList.opportunities.list; let i = index; " [hidden]="tableList.opportunities.list == undefined">
                            <td>{{i+1}}</td>

                            <td [hidden]="!tableList.opportunities.isEdit[i]">{{item.CurrentOpportunities}}</td>
                            <td [hidden]="tableList.opportunities.isEdit[i]">
                                <form [formGroup]="angForm" novalidate>
                                    <div class="form-group">
                                        <textarea class="form-control" formControlName="name" maxlength="200" rows="2" [(ngModel)]="tableList.opportunities.selectedRow.CurrentOpportunities" required></textarea>
                                        <!--<input class="form-control" formControlName="name">-->

                                    </div>
                                    <div *ngIf="angForm.controls['name'].invalid">
                                        <!--&& (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
                                        <div *ngIf="angForm.controls['name'].errors.required">-->
                                        <span class="has-error">Current Opportunity is Required</span>
                                        <!--</div>-->
                                    </div>
                                </form>
                            </td>

                            <!--<td>
                                <i class="fa fa-edit" (click)="tableList.opportunities.enableEdit($event,item,i);" [hidden]="!tableList.opportunities.isEdit[i]"></i>
                                <i class="fa fa-trash" [hidden]="!tableList.opportunities.isEdit[i]" (click)="tableList.opportunities.deleteItem($event,item,i);"></i>
                                <i class="fa fa-save" (click)="tableList.opportunities.Update($event,item,i);" [hidden]="tableList.opportunities.isEdit[i]"></i>
                                <i [hidden]="tableList.opportunities.isEdit[i]" class="fa fa-close" (click)="tableList.opportunities.reset($event,i);"></i>
                            </td>-->
                        </tr>
                        <tr [hidden]="tableList.opportunities.list.length"><td colspan="2" class="text-center">No records found</td></tr>
                        <tr [hidden]="!tableList.opportunities.addRow">
                            <td>{{tableList.opportunities.count}}</td>
                            <td>
                                <form [formGroup]="angForm" novalidate>
                                    <div class="form-group">
                                        <textarea class="form-control" formControlName="name" maxlength="200" rows="2" [(ngModel)]="tableList.opportunities.addNewRow.CurrentOpportunities" required></textarea>
                                        <!--<input class="form-control" formControlName="name">-->

                                    </div>
                                    <div *ngIf="angForm.controls['name'].invalid">
                                        <!--&& (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
                                        <div *ngIf="angForm.controls['name'].errors.required">-->
                                        <span class="has-error">Current Opportunity is required.</span>
                                        <!--</div>-->
                                    </div>
                                </form>
                            </td>
                            <!--<td>
                                <i class="fa fa-save" (click)="tableList.opportunities.addNewItem($event);"></i>
                                <i class="fa fa-close" (click)="tableList.opportunities.cancel($event);"></i>
                            </td>-->
                        </tr>
                    </tbody>
                </table>
            </div>
        </ng-template>
    </ngb-panel>
    <!--<!--<!--<!--<!--<!--<!--<ngb-panel title="{{nextYear}} Challenges To Overcome">
      <ng-template ngbPanelContent>
        <!--<app-smart-table [settings]="OvercomeSettings"></app-smart-table>
    <div class="row button-container"><div class="col"><button type="button" class="btn btn-primary pull-right" [hidden]="count >5" (click)="tableList.challengesToOvercome.AddNewRow($event)">Add</button></div></div>

          <div class="table-responsive collapse show">

              <table class="table table-bordered no-actions">

                  <thead>
                  <th *ngFor="let title of tableList.challengesToOvercome.titles">{{title}}</th>
                  </thead>
                  <tbody>
                      <tr *ngFor="let item of tableList.challengesToOvercome.list">
                          <td>{{item.NCID}}</td>

                          <td [hidden]="!tableList.challengesToOvercome.isEdit">{{item.NextChallenges}}</td>
                          <td [hidden]="tableList.challengesToOvercome.isEdit"><input type="text" [(ngModel)]="tableList.challengesToOvercome.selectedRow.NextChallenges" /></td>

                          <td>
                              <i class="fa fa-edit" (click)="tableList.challengesToOvercome.enableEdit($event,item);" [hidden]="!tableList.challengesToOvercome.isEdit"></i>
                              <i class="fa fa-trash" [hidden]="!tableList.challengesToOvercome.isEdit" (click)="tableList.challengesToOvercome.deleteItem($event,item);"></i>
                              <i class="fa fa-save" (click)="tableList.challengesToOvercome.Update($event,item);" [hidden]="tableList.challengesToOvercome.isEdit"></i>
                              <i [hidden]="tableList.challengesToOvercome.isEdit" class="fa fa-close" (click)="tableList.challengesToOvercome.reset($event,item);"></i>
                          </td>
                      </tr>
                      <tr [hidden]="!tableList.challengesToOvercome.addRow">
                          <td>{{tableList.challengesToOvercome.addNewRow.no}}</td>
                          <td><input type="text" [(ngModel)]="tableList.challengesToOvercome.addNewRow.challengesToOvercome" /></td>
                          <td>
                              <i class="fa fa-save" (click)="tableList.challengesToOvercome.addNewItem($event);"></i>
                              <i class="fa fa-close" (click)="tableList.challengesToOvercome.cancel($event,item);"></i>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </ng-template>
    </ngb-panel>
    <ngb-panel title="{{nextYear}} Big Ideas / New Strategies ">
      <ng-template ngbPanelContent>
        <app-smart-table [settings]="BigIdeasSettings"></app-smart-table>
          <div class="row button-container"><div class="col"><button type="button" class="btn btn-primary pull-right" [hidden]="count >5" (click)="tableList.bigIdeas.AddNewRow($event)">Add</button></div></div>

          <div class="table-responsive collapse show">

              <table class="table table-bordered no-actions">

                  <thead>
                  <th *ngFor="let title of tableList.bigIdeas.titles">{{title}}</th>
                  </thead>
                  <tbody>
                      <tr *ngFor="let item of tableList.bigIdeas.list">
                          <td>{{item.NBIID}}</td>

                          <td [hidden]="!tableList.bigIdeas.isEdit">{{item.NextBigIdeas}}</td>
                          <td [hidden]="tableList.bigIdeas.isEdit"><input type="text" [(ngModel)]="tableList.bigIdeas.selectedRow.NextBigIdeas" /></td>

                          <td>
                              <i class="fa fa-edit" (click)="tableList.bigIdeas.enableEdit($event,item);" [hidden]="!tableList.bigIdeas.isEdit"></i>
                              <i class="fa fa-trash" [hidden]="!tableList.bigIdeas.isEdit" (click)="tableList.bigIdeas.deleteItem($event,item);"></i>
                              <i class="fa fa-save" (click)="tableList.bigIdeas.Update($event,item);" [hidden]="tableList.bigIdeas.isEdit"></i>
                              <i [hidden]="tableList.bigIdeas.isEdit" class="fa fa-close" (click)="tableList.bigIdeas.reset($event,item);"></i>
                          </td>
                      </tr>
                      <tr [hidden]="!tableList.bigIdeas.addRow">
                          <td>{{tableList.bigIdeas.addNewRow.no}}</td>
                          <td><input type="text" [(ngModel)]="tableList.bigIdeas.addNewRow.bigIdeas" /></td>
                          <td>
                              <i class="fa fa-save" (click)="tableList.bigIdeas.addNewItem($event);"></i>
                              <i class="fa fa-close" (click)="tableList.bigIdeas.cancel($event,item);"></i>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </ng-template>
    </ngb-panel>-->
    <ngb-panel title="Individuals Ready For The Next Opportunity">
        <ng-template ngbPanelContent>
            <!--<app-smart-table [settings]="IndividualsSettings"></app-smart-table>-->
            <ngb-alert *ngIf="tableList.individualReady.successMessage" [type]="tableList.individualReady.alertType" (close)="tableList.individualReady.successMessage = null">{{ tableList.individualReady.successMessage }}</ngb-alert>
            <!--<div class="row button-container"><div class="col"><button type="button" class="btn btn-primary pull-right" [hidden]="tableList.individualReady.count == 5" (click)="tableList.individualReady.AddNewRow($event)">Add</button></div></div>-->

            <div class="table-responsive collapse show">

                <table class="table table-bordered no-actions">

                    <thead>
                        <tr>
                            <th rowspan="2">#</th>
                            <th rowspan="2">Name</th>
                            <th rowspan="2">Current Role</th>
                            <th rowspan="2">Next Best Opportunity</th>
                            <th rowspan="2">Availability</th>
                            <th colspan="3">RIGHT WHO</th>
                        </tr>
                        <tr><th>Get Work</th><th>Do Work</th><th>Take Care of People</th></tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of tableList.individualReady.list; let i=index;" [hidden]="tableList.individualReady.list == undefined">
                            <td>{{i+1}}</td>

                            <td [hidden]="!tableList.individualReady.isEdit[i]">{{item.IndividualName}}</td>
                            <td [hidden]="tableList.individualReady.isEdit[i]">
                                <form [formGroup]="angForm" novalidate>
                                    <div class="form-group">
                                        <textarea class="form-control" formControlName="name" maxlength="100" rows="2" [(ngModel)]="tableList.individualReady.selectedRow.IndividualName" required></textarea>


                                    </div>
                                    <div *ngIf="angForm.controls['name'].invalid">

                                        <span class="has-error">Individual Name is Required</span>

                                    </div>
                                </form>
                            </td>
                            <td [hidden]="!tableList.individualReady.isEdit[i]">{{item.CurrentRole}}</td>
                            <td [hidden]="tableList.individualReady.isEdit[i]">
                                <form [formGroup]="angForm" novalidate>
                                    <div class="form-group">
                                        <textarea class="form-control" formControlName="currentRole" maxlength="100" rows="2" [(ngModel)]="tableList.individualReady.selectedRow.CurrentRole" required></textarea>


                                    </div>
                                    <div *ngIf="angForm.controls['currentRole'].invalid">

                                        <span class="has-error"> CurrentRole is Required</span>

                                    </div>
                                </form>
                            </td>
                            <td [hidden]="!tableList.individualReady.isEdit[i]">{{item.NextRole}}</td>
                            <td [hidden]="tableList.individualReady.isEdit[i]">
                                <form [formGroup]="angForm" novalidate>
                                    <div class="form-group">
                                        <textarea class="form-control" formControlName="nextOpp" maxlength="100" rows="2" [(ngModel)]="tableList.individualReady.selectedRow.NextRole" required></textarea>


                                    </div>
                                    <div *ngIf="angForm.controls['nextOpp'].invalid">

                                        <span class="has-error"> Next Role is Required</span>

                                    </div>
                                </form>
                            </td>
                            <td [hidden]="!tableList.individualReady.isEdit[i]">{{item.IsAvailable? 'Yes' : 'No'}}</td>
                            <td [hidden]="tableList.individualReady.isEdit[i]"><input type="checkbox" [(ngModel)]="tableList.individualReady.selectedRow.IsAvailable" /></td>
                            <td [hidden]="!tableList.individualReady.isEdit[i]" [ngClass]="{'red':item.Sales == 'Red','green':item.Sales == 'Green','yellow':item.Sales == 'Yellow'}"></td>
                            <td [hidden]="tableList.individualReady.isEdit[i]">
                                <div ngbDropdown class="d-inline-block">
                                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{tableList.individualReady.selectedRow.Sales}}</button>
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                        <button (click)="tableList.individualReady.selectedRow.Sales = 'Red'" class="dropdown-item">Red</button>
                                        <button (click)="tableList.individualReady.selectedRow.Sales = 'Green'" class="dropdown-item">Green</button>
                                        <button class="dropdown-item" (click)="tableList.individualReady.selectedRow.Sales = 'Yellow'">Yellow</button>
                                    </div>
                                </div>
                            </td>
                            <td [hidden]="!tableList.individualReady.isEdit[i]" [ngClass]="{'red':item.Ops == 'Red','green':item.Ops == 'Green','yellow':item.Ops == 'Yellow'}"></td>
                            <td [hidden]="tableList.individualReady.isEdit[i]">
                                <div ngbDropdown class="d-inline-block">
                                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{tableList.individualReady.selectedRow.Ops}}</button>
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                        <button class="dropdown-item" (click)="tableList.individualReady.selectedRow.Ops = 'Red';"> Red</button>
                                        <button class="dropdown-item" (click)="tableList.individualReady.selectedRow.Ops = 'Green';"> Green</button>
                                        <button class="dropdown-item" (click)="tableList.individualReady.selectedRow.Ops = 'Yellow';">Yellow</button>
                                    </div>
                                </div><!--<input type="text" [(ngModel)]="tableList.individualReady.selectedRow.Ops" />-->
                            </td>
                            <td [hidden]="!tableList.individualReady.isEdit[i]" [ngClass]="{'red':item.People == 'Red','green':item.People == 'Green','yellow':item.People == 'Yellow'}"></td>
                            <td [hidden]="tableList.individualReady.isEdit[i]">
                                <div ngbDropdown class="d-inline-block">
                                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{tableList.individualReady.selectedRow.People}}</button>
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                        <button class="dropdown-item" (click)="tableList.individualReady.selectedRow.People = 'Red';">Red</button>
                                        <button class="dropdown-item" (click)="tableList.individualReady.selectedRow.People = 'Green';">Green</button>
                                        <button class="dropdown-item" (click)="tableList.individualReady.selectedRow.People = 'Yellow';">Yellow</button>
                                    </div>
                                </div><!--<input type="text" [(ngModel)]="tableList.individualReady.selectedRow.People" />-->
                            </td>
                            <!--<td>
                                <i class="fa fa-edit" (click)="tableList.individualReady.enableEdit($event,item,i);" [hidden]="!tableList.individualReady.isEdit[i]"></i>
                                <i class="fa fa-trash" [hidden]="!tableList.individualReady.isEdit[i]" (click)="tableList.individualReady.deleteItem($event,item,i);"></i>
                                <i class="fa fa-save" (click)="tableList.individualReady.Update($event,item,i);" [hidden]="tableList.individualReady.isEdit[i]"></i>
                                <i [hidden]="tableList.individualReady.isEdit[i]" class="fa fa-close" (click)="tableList.individualReady.reset($event,i);"></i>
                            </td>-->
                        </tr>

                        <tr [hidden]="tableList.individualReady.list.length"><td colspan="8" class="text-center">No records found</td></tr>



                        <tr [hidden]="!tableList.individualReady.addRow">
                            <td>{{tableList.individualReady.count}}</td>
                            <td>
                                <form [formGroup]="angForm" novalidate>
                                    <div class="form-group">
                                        <textarea class="form-control" formControlName="name" maxlength="100" rows="2" [(ngModel)]="tableList.individualReady.addNewRow.IndividualName" required></textarea>
                                        <!--<input class="form-control" formControlName="name">-->

                                    </div>
                                    <div *ngIf="angForm.controls['name'].invalid">
                                        <!--&& (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
                                        <div *ngIf="angForm.controls['name'].errors.required">-->
                                        <span class="has-error">Individual Name is required.</span>
                                        <!--</div>-->
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form [formGroup]="angForm" novalidate>
                                    <div class="form-group">
                                        <textarea class="form-control" formControlName="currentRole" maxlength="100" rows="2" [(ngModel)]="tableList.individualReady.addNewRow.CurrentRole" required></textarea>
                                        <!--<input class="form-control" formControlName="name">-->

                                    </div>
                                    <div *ngIf="angForm.controls['currentRole'].invalid">
                                        <!--&& (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
                                        <div *ngIf="angForm.controls['name'].errors.required">-->
                                        <span class="has-error">Current Role is required.</span>
                                        <!--</div>-->
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form [formGroup]="angForm" novalidate>
                                    <div class="form-group">
                                        <textarea class="form-control" formControlName="nextOpp" maxlength="100" rows="2" [(ngModel)]="tableList.individualReady.addNewRow.NextRole" required></textarea>
                                        <!--<input class="form-control" formControlName="name">-->

                                    </div>
                                    <div *ngIf="angForm.controls['nextOpp'].invalid">
                                        <!--&& (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
                                        <div *ngIf="angForm.controls['name'].errors.required">-->
                                        <span class="has-error">Next Role is required.</span>
                                        <!--</div>-->
                                    </div>
                                </form>
                            </td>
                            <td><input type="checkbox" [(ngModel)]="tableList.individualReady.addNewRow.IsAvailable" /></td>
                            <td>
                                <div ngbDropdown class="d-inline-block">
                                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{tableList.individualReady.addNewRow.Sales}}</button>
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                        <button (click)="tableList.individualReady.addNewRow.Sales = 'Red'" class="dropdown-item">Red</button>
                                        <button (click)="tableList.individualReady.addNewRow.Sales = 'Green'" class="dropdown-item">Green</button>
                                        <button class="dropdown-item" (click)="tableList.individualReady.addNewRow.Sales = 'Yellow'">Yellow</button>
                                    </div>
                                </div>
                                <!--<input type="text" [(ngModel)]="tableList.individualReady.addNewRow.Sales" />-->
                            </td>
                            <td>
                                <div ngbDropdown class="d-inline-block">
                                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{tableList.individualReady.addNewRow.Ops}}</button>
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                        <button class="dropdown-item" (click)="tableList.individualReady.addNewRow.Ops = 'Red';"> Red</button>
                                        <button class="dropdown-item" (click)="tableList.individualReady.addNewRow.Ops = 'Green';"> Green</button>
                                        <button class="dropdown-item" (click)="tableList.individualReady.addNewRow.Ops = 'Yellow';">Yellow</button>
                                    </div>
                                </div>
                                <!--<input type="text" [(ngModel)]="tableList.individualReady.addNewRow.Ops" />-->
                            </td>
                            <td>
                                <div ngbDropdown class="d-inline-block">
                                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{tableList.individualReady.addNewRow.People}}</button>
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                        <button class="dropdown-item" (click)="tableList.individualReady.addNewRow.People = 'Red';">Red</button>
                                        <button class="dropdown-item" (click)="tableList.individualReady.addNewRow.People = 'Green';">Green</button>
                                        <button class="dropdown-item" (click)="tableList.individualReady.addNewRow.People = 'Yellow';">Yellow</button>
                                    </div>
                                </div>
                                <!--<input type="text" [(ngModel)]="tableList.individualReady.addNewRow.People" />-->
                            </td>
                            <!--<td>
                                <i class="fa fa-save" (click)="tableList.individualReady.addNewItem($event);"></i>
                                <i class="fa fa-close" (click)="tableList.individualReady.cancel($event,item);"></i>
                            </td>-->
                        </tr>
                    </tbody>
                </table>
            </div>
        </ng-template>
    </ngb-panel>

    <ngb-panel title="Strategic Staffing Needs ">
        <ng-template ngbPanelContent>
            <!--<app-smart-table [settings]="StrategicSettings"></app-smart-table>-->
            <ngb-alert *ngIf="tableList.strategicneeds.successMessage" [type]="tableList.strategicneeds.alertType" (close)="tableList.strategicneeds.successMessage = null">{{ tableList.strategicneeds.successMessage }}</ngb-alert>
            <!--<div class="row button-container"><div class="col"><button type="button" class="btn btn-primary pull-right" [hidden]="tableList.strategicneeds.count == 5" (click)="tableList.strategicneeds.AddNewRow($event)">Add</button></div></div>-->

            <div class="table-responsive collapse show">

                <table class="table table-bordered no-actions">

                    <thead>
                    <th *ngFor="let title of tableList.strategicneeds.titles">{{title}}</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of tableList.strategicneeds.list; let i = index; " [hidden]="tableList.success.list == undefined">
                            <td>{{i+1}}</td>


                            <td [hidden]="!tableList.strategicneeds.isEdit[i]">{{item.Role}}</td>
                            <td [hidden]="tableList.strategicneeds.isEdit[i]">
                                <form [formGroup]="angForm" novalidate>
                                    <div class="form-group">
                                        <textarea class="form-control" formControlName="name" maxlength="50" rows="2" [(ngModel)]="tableList.strategicneeds.selectedRow.Role" required></textarea>
                                        <!--<input class="form-control" formControlName="name">-->

                                    </div>
                                    <div *ngIf="angForm.controls['name'].invalid">
                                        <!--&& (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
                                        <div *ngIf="angForm.controls['name'].errors.required">-->
                                        <span class="has-error"> Role is Required</span>
                                        <!--</div>-->
                                    </div>
                                </form>
                            </td>

                            <td [hidden]="!tableList.strategicneeds.isEdit[i]">{{item.Quantity}}</td>
                            <td [hidden]="tableList.strategicneeds.isEdit[i]">
                                <form [formGroup]="angForm" novalidate>
                                    <div class="form-group">
                                        <input type="number" class="form-control" formControlName="quantity" maxlength="50" rows="1" [(ngModel)]="tableList.strategicneeds.selectedRow.Quantity" required />
                                        <!--<input class="form-control" formControlName="name">-->

                                    </div>
                                    <div *ngIf="angForm.controls['quantity'].invalid">
                                        <!--&& (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
                                        <div *ngIf="angForm.controls['name'].errors.required">-->
                                        <span class="has-error"> Quantity is Required</span>
                                        <!--</div>-->
                                    </div>
                                </form>
                            </td>

                            <!--<td>
                                <i class="fa fa-edit" (click)="tableList.strategicneeds.enableEdit($event,item,i);" [hidden]="!tableList.strategicneeds.isEdit[i]"></i>
                                <i class="fa fa-trash" [hidden]="!tableList.strategicneeds.isEdit[i]" (click)="tableList.strategicneeds.deleteItem($event,item,i);"></i>
                                <i class="fa fa-save" (click)="tableList.strategicneeds.Update($event,item,i);" [hidden]="tableList.strategicneeds.isEdit[i]"></i>
                                <i [hidden]="tableList.strategicneeds.isEdit[i]" class="fa fa-close" (click)="tableList.strategicneeds.reset($event,i);"></i>
                            </td>-->
                        </tr>

                        <tr [hidden]="tableList.strategicneeds.list.length"><td colspan="3" class="text-center">No records found</td></tr>
                        <tr [hidden]="!tableList.strategicneeds.addRow">
                            <td>{{tableList.strategicneeds.count}}</td>
                            <td>
                                <form [formGroup]="angForm" novalidate>
                                    <div class="form-group">
                                        <textarea class="form-control" formControlName="name" maxlength="50" rows="2" [(ngModel)]="tableList.strategicneeds.addNewRow.Role" required></textarea>
                                     </div>
                                    <div *ngIf="angForm.controls['name'].invalid">
                                        <!--&& (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
                                        <div *ngIf="angForm.controls['name'].errors.required">-->
                                        <span class="has-error"> Role is Required</span>
                                        <!--</div>-->
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form [formGroup]="angForm" novalidate>
                                    <div class="form-group">
                                        <input type="number" class="form-control" formControlName="quantity" maxlength="50" rows="1" [(ngModel)]="tableList.strategicneeds.addNewRow.Quantity" required />
                                        <!--<input class="form-control" formControlName="name">-->

                                    </div>
                                    <div *ngIf="angForm.controls['quantity'].invalid">
                                        <!--&& (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
                                        <div *ngIf="angForm.controls['name'].errors.required">-->
                                        <span class="has-error"> Quantity is Required</span>
                                        <!--</div>-->
                                    </div>
                                </form>
                            </td>
                            <!--<td>
                                <i class="fa fa-save" (click)="tableList.strategicneeds.addNewItem($event);"></i>
                                <i class="fa fa-close" (click)="tableList.strategicneeds.cancel($event);"></i>
                            </td>-->
                        </tr>
                    </tbody>
                </table>
            </div>
        </ng-template>
    </ngb-panel>

    <!--<ngb-panel title="{{nextYear}} Organisational Framework -PreWork ">
        <ng-template ngbPanelContent>
            <app-smart-table [settings]="PreWorkSettings"></app-smart-table>
            <div class="row button-container"><div class="col"><button type="button" class="btn btn-primary pull-right" [hidden]="count >5" (click)="tableList.organisationalFramework.AddNewRow($event)">Add</button></div></div>

            <div class="table-responsive collapse show">

                <table class="table table-bordered no-actions">

                    <thead>
                    <th *ngFor="let title of tableList.organisationalFramework.titles">{{title}}</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of tableList.organisationalFramework.list">
                            <td>{{item.no}}</td>

                            <td [hidden]="!tableList.organisationalFramework.isEdit">{{item.organisationalFramework}}</td>
                            <td [hidden]="tableList.organisationalFramework.isEdit"><input type="text" [(ngModel)]="tableList.organisationalFramework.selectedRow.organisationalFramework" /></td>
                            <td [hidden]="!tableList.organisationalFramework.isEdit">{{item.organisationalFramework}}</td>
                            <td [hidden]="tableList.organisationalFramework.isEdit"><input type="text" [(ngModel)]="tableList.organisationalFramework.selectedRow.organisationalFramework" /></td>

                            <td>
                                <i class="fa fa-edit" (click)="tableList.organisationalFramework.enableEdit($event,item);" [hidden]="!tableList.organisationalFramework.isEdit"></i>
                                <i class="fa fa-trash" [hidden]="!tableList.organisationalFramework.isEdit" (click)="tableList.organisationalFramework.deleteItem($event,item);"></i>
                                <i class="fa fa-save" (click)="tableList.organisationalFramework.Update($event,item);" [hidden]="tableList.organisationalFramework.isEdit"></i>
                                <i [hidden]="tableList.organisationalFramework.isEdit" class="fa fa-close" (click)="tableList.organisationalFramework.reset($event,item);"></i>
                            </td>
                        </tr>
                        <tr [hidden]="!tableList.organisationalFramework.addRow">
                            <td>{{tableList.organisationalFramework.addNewRow.no}}</td>
                            <td><input type="text" [(ngModel)]="tableList.organisationalFramework.addNewRow.organisationalFramework" /></td>
                            <td><input type="text" [(ngModel)]="tableList.organisationalFramework.addNewRow.organisationalFramework" /></td>
                            <td>
                                <i class="fa fa-save" (click)="tableList.organisationalFramework.addNewItem($event);"></i>
                                <i class="fa fa-close" (click)="tableList.organisationalFramework.cancel($event,item);"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ng-template>
    </ngb-panel>-->

</ngb-accordion>

