
<div class="row dropdown-container">
  <div class="col-sm-6 col-12 dprgroupsContainer">
    <span class="dpr_grp_label"> Group : </span> <span class="dpr_grp">{{RegionName}}</span>
  </div>
  <div class="col-sm-3 col-6 noPadding">
    <button class="export-pdf-btn btn btn-primary float-left" (click)="DownloadFile()" value="DownloadFile">Export Excel</button>

  </div>
  <div class="col-sm-3 col-6 noPadding">
    <button class="btn btn-primary float-right expand-collapse-btn" (click)="toggle(acc);">Collapse All</button>
  </div>
</div>
<ngx-spinner></ngx-spinner>
<ngb-accordion #acc="ngbAccordion" [activeIds]="activeIds" id="contentToConvert">
  <ngb-panel>
    <ng-template ngbPanelTitle>
      <span>{{currentYear}} Narrative</span>
      <span *ngIf="tableList.narrative.updatedData!=''" style="margin-left:500px;font-size:small;font:caption;color:grey">Last Updated:{{tableList.narrative.updatedData}}</span>
    </ng-template>
    <ng-template ngbPanelContent>
      <ngb-alert *ngIf="tableList.narrative.successMessage" [type]="tableList.narrative.alertType" (close)="tableList.narrative.successMessage = null">{{ tableList.narrative.successMessage }}</ngb-alert>
      <!--<div *ngIf="groupName=='RBU'" class="accordion-text">{{RBFA}} </div>
      <div *ngIf="groupName!='RBU' && (groupName=='CSG' ||groupName=='SP' || groupName=='CM')" class="accordion-text">{{FA}} </div>-->
      <div class="accordion-text">
        Please use this space to communicate in a short narrative format, what you want to achieve in  {{currentYear}} as part of your Business Planning efforts. This is your space to communicate or clarify information as part of your Plan. For example, think about where you want to take your business or function, what opportunities and/or barriers may exist, and what is your plan to make it successful.
      </div>
      <div class="row button-container">
        <div class="col">
          <button type="button" class="btn btn-primary pull-right" [hidden]="tableList.narrative.count == 1" (click)="tableList.narrative.AddNewRow($event)" [disabled]="tableList.narrative.addRow">Add</button>
        </div>
      </div>
      <div class="table-responsive collapse show">

        <table class="table table-bordered">
          <thead>
          <th *ngFor="let title of tableList.narrative.titles">{{title}}</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of tableList.narrative.list; let i = index; " [hidden]="tableList.narrative.list.length == 0">
              <!--<td>{{i+1}}</td>-->

              <td [hidden]="!tableList.narrative.isEdit[i]">{{item.description}}</td>
              <td [hidden]="tableList.narrative.isEdit[i]">
                <form [formGroup]="angForm" novalidate>
                  <div class="form-group">
                    <textarea class="form-control" formControlName="narrativename" rows="2" [(ngModel)]="tableList.narrative.selectedRow.Description" required></textarea>

                  </div>
                  <div [hidden]="!angForm.controls['narrativename'].invalid">
                    <span class="has-error"> Description is Required</span>
                  </div>
                </form>
              </td>


              <td>
                <button class="fa fa-edit" (click)="tableList.narrative.enableEdit($event,item,i);" [hidden]="!tableList.narrative.isEdit[i]" [disabled]="!tableList.narrative.isEditenabled"></button>
                <i class="fa fa-trash" [hidden]="!tableList.narrative.isEdit[i]" (click)="tableList.narrative.deleteItem($event,item,i);"></i>
                <button class="fa fa-save" (click)="tableList.narrative.Update($event,item,i);" [hidden]="tableList.narrative.isEdit[i]" [disabled]="angForm.controls['narrativename'].invalid"></button>
                <i [hidden]="tableList.narrative.isEdit[i]" class="fa fa-close" (click)="tableList.narrative.reset($event,i);"></i>
              </td>
            </tr>
            <tr [hidden]="tableList.narrative.list.length || tableList.narrative.addRow"><td colspan="3" class="text-center">No records found</td></tr>
            <tr [hidden]="!tableList.narrative.addRow">
              <!--<td>{{tableList.narrative.count}}</td>-->
              <td>
                <form [formGroup]="angForm" novalidate>
                  <div class="form-group">
                    <textarea class="form-control" formControlName="narrativenameadd" rows="2" [(ngModel)]="tableList.narrative.addNewRow.Description" required></textarea>

                  </div>
                  <div [hidden]="!angForm.controls['narrativenameadd'].invalid">
                    <span class="has-error"> Description is required.</span>
                  </div>
                </form>
              </td>
              <td>
                <button class="fa fa-save" (click)="tableList.narrative.addNewItem($event);" [disabled]="angForm.controls['narrativenameadd'].invalid"></button>
                <i class="fa fa-close" (click)="tableList.narrative.cancel($event);"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </ng-template>
  </ngb-panel>
  <!--<ngb-panel *ngIf="caseOneAccordian" title="Top 5 - Strategic Actions (Company Strategies and Recession Planning)">
      <ng-template ngbPanelContent>
          <ngb-alert *ngIf="tableList.recessionPlanning.successMessage" [type]="tableList.recessionPlanning.alertType" (close)="tableList.recessionPlanning.successMessage = null">{{ tableList.recessionPlanning.successMessage }}</ngb-alert>
          <div class="accordion-text">Please identify the Top 5 Strategic Actions that your Business Unit or Region will take in {{currentYear}} to advance our company strategies and to better prepare in the event an upcoming recession  </div>

          <div class="row button-container">
              <div class="col">
                  <button type="button" class="btn btn-primary pull-right" [hidden]="tableList.recessionPlanning.count == 5" (click)="tableList.recessionPlanning.AddNewRow($event)" [disabled]="tableList.recessionPlanning.addRow">Add</button>
              </div>
          </div>

          <div class="table-responsive collapse show">

              <table class="table table-bordered">
                  <thead>
                      <tr>
                          <th rowspan="2">#</th>
                          <th class="category-width" rowspan="2">Category</th>
                          <th rowspan="2">Strategic Actions (Not more than One for each Company Strategy) </th>
                          <th rowspan="2">Actions</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let item of tableList.recessionPlanning.list; let i=index">
                          <td>{{ i+1 }}</td>
                          <td>{{ item.Category}}</td>
                          <td [hidden]=" tableList.recessionPlanning.list[i].isEdit">{{item.Description}}</td>
                          <td [hidden]="!tableList.recessionPlanning.list[i].isEdit">
                              <form [formGroup]="angForm" novalidate>
                                  <div class="form-group">
                                      <textarea class="form-control" formControlName="description" maxlength="500" rows="2" [(ngModel)]="tableList.recessionPlanning.selectedRow.Description" required></textarea>

                                  </div>
                                  <div [hidden]="!angForm.controls['description'].invalid">
                                      <span class="has-error"> Strategic Action is Required</span>
                                  </div>
                              </form>
                          </td>
                          <td>
                              <button class="fa fa-edit" (click)="tableList.recessionPlanning.enableEdit($event,item,i);" [hidden]="tableList.recessionPlanning.list[i].isEdit" [disabled]="!tableList.recessionPlanning.isEditenabled"></button>
                              <i class="fa fa-trash" [hidden]="tableList.recessionPlanning.list[i].isEdit ||tableList.recessionPlanning.list[i].CSRPID==0" (click)="tableList.recessionPlanning.deleteItem($event,item,i);"></i>
                              <button class="fa fa-save" (click)="tableList.recessionPlanning.Update($event,item,i);" [hidden]="!tableList.recessionPlanning.list[i].isEdit" [disabled]="angForm.controls['description'].invalid"></button>
                              <i [hidden]="!tableList.recessionPlanning.list[i].isEdit" class="fa fa-close" (click)="tableList.recessionPlanning.reset($event,i);"></i>

                          </td>

                      </tr>

                  </tbody>
              </table>
          </div>
      </ng-template>

  </ngb-panel>-->
  <ngb-panel *ngIf="!caseThreeAccordian">
    <ng-template ngbPanelTitle>
      <span>Top Priorities (Enhance Your Own Functions) </span>
      <span *ngIf="tableList.focusAreas.updatedData!=''" style="margin-left:230px;font-size:small;font:caption;color:grey">Last Updated:{{tableList.focusAreas.updatedData}}</span>
    </ng-template>
    <ng-template ngbPanelContent>
      <ngb-alert *ngIf="tableList.focusAreas.successMessage" [type]="tableList.focusAreas.alertType" (close)="tableList.focusAreas.successMessage = null">{{ tableList.focusAreas.successMessage }}</ngb-alert>
      <div *ngIf="groupName=='RBU'" class="accordion-text">{{RBFA}} </div>
      <div *ngIf="groupName!='RBU' && (groupName=='CSG' ||groupName=='SP' || groupName=='CM'|| groupName=='WVE')" class="accordion-text">{{FA}} </div>
      <div class="row button-container">
        <div class="col">
          <button type="button" class="btn btn-primary pull-right" [hidden]="tableList.focusAreas.count == 15" (click)="tableList.focusAreas.AddNewRow($event)" [disabled]="tableList.focusAreas.addRow">Add</button>
        </div>
      </div>
      <div class="table-responsive collapse show" style="overflow:visible">

        <table class="table table-bordered">
          <thead>
          <th *ngFor="let title of tableList.focusAreas.titles">{{title}}</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of tableList.focusAreas.list; let i = index; " [hidden]="tableList.focusAreas.list.length == 0">
              <td>{{i+1}}</td>

              <td [hidden]="!tableList.focusAreas.isEdit[i]">
                {{item.StrategicActions}}
                <div *ngIf="(currentYear=='2021'||currentYear=='2022')&& groupName!='RBU'" style="height: 30px;text-align: left;padding-top:4px">
                  <hr style="margin-top:9px;margin-bottom:4px;" />
                  <label style="font-size: small;"> Check if this is an impact on the frontline?&nbsp;&nbsp;&nbsp;<input type="checkbox" value="" onclick="return false" [(ngModel)]="item.IsImpact"></label>
                  <label style="padding-left: 20px;font-size: small;">Check if this an Ongoing Effort from last year&nbsp;&nbsp;&nbsp;<input type="checkbox" value="" onclick="return false" [(ngModel)]="item.OngoingEffort"></label>

                </div>
                <div *ngIf="(currentYear=='2021'||currentYear=='2022')" class="col-xs-12" style="text-align:left;margin-top:26px">
                  <span class="col-xs-3" style="font-size: small;"> Check the groups you need help from</span>
                  <div style="display:inline-block;" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <ng-multiselect-dropdown [placeholder]="'Select Groups'"
                                             name="drodpwnNormal"
                                             [data]="dropdownList"
                                             [(ngModel)]="item.FocusAreaRequireGroups"
                                             [disabled]="true"
                                             [settings]="dropdownSettings"
                                             style="font-size: small; ">
                    </ng-multiselect-dropdown>
                  </div>
                  <span *ngIf="(currentYear=='2021'||currentYear=='2022')&& groupName!='RBU'" class="col-xs-4" style="font-size: small;" data-toggle="tooltip" title="Do not include the cost for resources that are within the organization."> Estimated Incremental costs :</span>
                  <div *ngIf="(currentYear=='2021'||currentYear=='2022')&& groupName!='RBU'" style="display:inline-block;" data-toggle="tooltip" title="Do not include the cost for resources that are within the organization." class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <span *ngIf="item.IncrementalCosts">${{item.IncrementalCosts|number}}</span>
                    <!--<input type="number" readonly style="height:1.5rem!important" rows="1" [(ngModel)]="item.IncrementalCosts" />-->
                  </div>
                  <div class="row" style="padding-top:1em;">
                    <span class="col-xs-3" style="font-size: small;padding-top:2px;padding-left:1em;"> Select if your initiative supports the Integrated Top priorities</span>
                    <div style="display:inline-block;" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                      <ng-multiselect-dropdown [placeholder]="'Select Groups'"
                                               name="ItfNormal"
                                               [data]="ITFDropdown"
                                               [(ngModel)]="item.FocusAreaSupportITFs"
                                               [disabled]="true"
                                               [settings]="dropdownSettings2"
                                               style="font-size: small; ">
                      </ng-multiselect-dropdown>

                    </div>
                  </div>
                </div>
              </td>
              <td [hidden]="tableList.focusAreas.isEdit[i]">
                <form [formGroup]="angForm" novalidate>
                  <div class="form-group">
                    <!--<textarea class="form-control" formControlName="succname" rows="2" [(ngModel)]="tableList.focusAreas.selectedRow.StrategicActions" required></textarea>-->
                    <div id="succname" name="succname" class="form-control" formControlName="succname" [(ngModel)]="tableList.focusAreas.selectedRow.StrategicActions"
                         note-editor rich-text rich-text-handler="richTextHandler">
                    </div>
                    <div [hidden]="!angForm.controls['succname'].invalid">
                      <span class="has-error"> Strategic Action is Required</span>
                    </div>
                    <div *ngIf="(currentYear=='2021'||currentYear=='2022')&& groupName!='RBU'" style="height: 30px;text-align: left;padding-top:4px;">
                      <!--<hr />-->
                      <label style="font-size: small;">Check if this is an impact on the frontline? &nbsp;&nbsp;&nbsp;<input formControlName="chk1" type="checkbox" [(ngModel)]="tableList.focusAreas.selectedRow.IsImpact"></label>
                      <!--<label style="padding-left:20px; font-size: small;"><input formControlName="chk2" type="checkbox" [(ngModel)]="tableList.focusAreas.selectedRow.RequireHelp">&nbsp;&nbsp;Check if you require any technology resources?</label>-->
                      <label style="padding-left:20px;font-size: small;">Check if this an Ongoing Effort from last year &nbsp;&nbsp;&nbsp;<input formControlName="chk3" type="checkbox" value="" [(ngModel)]="tableList.focusAreas.selectedRow.OngoingEffort"></label>
                    </div>
                    <div *ngIf="(currentYear=='2021'||currentYear=='2022')" class="col-xs-12" style="text-align:left;padding-top:12px">
                      <span style="font-size: small;"> Check the groups you need help from</span>
                      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="display:inline-block;">
                        <ng-multiselect-dropdown [placeholder]="'Select Groups'"
                                                 name="drodpwnEdit"
                                                 [data]="dropdownList"
                                                 formControlName="requireGroup"
                                                 [(ngModel)]="tableList.focusAreas.dropdown1"
                                                 [settings]="dropdownSettings"
                                                 (onSelectAll)="tableList.focusAreas.onGroupSelectAll($event,tableList.focusAreas.dropdown1)"
                                                 (onSelect)="tableList.focusAreas.onGroupSelect($event,tableList.focusAreas.dropdown1)"
                                                 style="font-size: small;">
                        </ng-multiselect-dropdown>
                      </div>

                      <!--<div class="row" style="padding-top:1em;">-->
                      <span *ngIf="(currentYear=='2021'||currentYear=='2022')&& groupName!='RBU'" class="col-xs-3" style="font-size: small;" data-toggle="tooltip" title="Do not include the cost for resources that are within the organization."> Estimated Incremental costs :</span>
                      <div *ngIf="(currentYear=='2021'||currentYear=='2022')&& groupName!='RBU'" style="display:inline-block;" class="col-xs-2 col-sm-2 col-md-2 col-lg-2" data-toggle="tooltip" title="Do not include the cost for resources that are within the organization.">
                        <input type="number" class="form-control" pattern="[0-9]{10}" style="height:1.5rem!important;width:170px" formControlName="incrementalCost" rows="1" [(ngModel)]="tableList.focusAreas.selectedRow.IncrementalCosts" />
                      </div>
                      <!--</div>-->
                      <div class="row" [hidden]="!angForm.controls['requireGroup'].invalid" style="padding-left:15em;float:left">
                        <span class="has-error">Select atleast one Group or None</span>
                      </div>
                      <div class="row" style="padding-top:1em;display:inline-flex">
                        <span style="font-size: small;padding-left:1em;padding-top:2px;"> Select if your initiative supports the Integrated Top priorities</span>
                        <div style="display:inline-block;width:450px" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                          <ng-multiselect-dropdown [placeholder]="'Select Groups'"
                                                   name="ItfEdit"
                                                   [data]="ITFDropdown"
                                                   formControlName="supportITF"
                                                   [(ngModel)]="tableList.focusAreas.dropdown2"
                                                   [settings]="dropdownSettings2"
                                                   (onSelect)="tableList.focusAreas.onItemSelect($event,tableList.focusAreas.dropdown2)"
                                                   style="font-size: small; ">
                          </ng-multiselect-dropdown>
                        </div>
                        <div class="row" [hidden]="!angForm.controls['supportITF'].invalid" style="padding-left:17em;float:left">
                          <span class="has-error">Select atleast one Option or None</span>
                        </div>
                      </div>
                    </div>

                  </div>
                </form>
              </td>
              <td>
                <button class="fa fa-edit" (click)="tableList.focusAreas.enableEdit($event,item,i);" [hidden]="!tableList.focusAreas.isEdit[i]" [disabled]="!tableList.focusAreas.isEditenabled"></button>
                <i class="fa fa-trash" [hidden]="!tableList.focusAreas.isEdit[i]" (click)="tableList.focusAreas.deleteItem($event,item,i);"></i>
                <button class="fa fa-save" (click)="tableList.focusAreas.Update(angForm,item,i);" [hidden]="tableList.focusAreas.isEdit[i]" [disabled]="angForm.controls['succname'].invalid || angForm.controls['requireGroup'].invalid || angForm.controls['supportITF'].invalid"></button>
                <i [hidden]="tableList.focusAreas.isEdit[i]" class="fa fa-close" (click)="tableList.focusAreas.reset($event,i);"></i>
              </td>
            </tr>
            <tr [hidden]="tableList.focusAreas.list.length || tableList.focusAreas.addRow"><td colspan="3" class="text-center">No records found</td></tr>
            <tr [hidden]="!tableList.focusAreas.addRow">
              <td>{{tableList.focusAreas.count}}</td>
              <td>
                <form [formGroup]="angForm" novalidate>
                  <div class="form-group">
                    <textarea class="form-control" formControlName="succnameadd" rows="2" [(ngModel)]="tableList.focusAreas.addNewRow.StrategicActions" required></textarea>
                    <div [hidden]="!angForm.controls['succnameadd'].invalid">
                      <span class="has-error"> Strategic Actions is required.</span>
                    </div>
                    <div style="height:30px;text-align:left;padding-top:4px;" *ngIf="(currentYear=='2021'||currentYear=='2022')&& groupName!='RBU'">
                      <!--<hr />-->
                      <label style="font-size: small;">
                        Check if this is an impact on the frontline? &nbsp;&nbsp;&nbsp;
                        <input formControlName="chk1" type="checkbox" [(ngModel)]="tableList.focusAreas.addNewRow.IsImpact">
                      </label>
                      <!--<label style="padding-left:20px;font-size: small;"><input formControlName="chk2" type="checkbox" [(ngModel)]="tableList.focusAreas.addNewRow.RequireHelp">&nbsp;&nbsp;Check if you require any technology resources?</label>-->
                      <label style="padding-left: 20px;font-size: small;">
                        Check if this an Ongoing Effort from last year &nbsp;&nbsp;&nbsp;
                        <input formControlName="chk3" type="checkbox" [(ngModel)]="tableList.focusAreas.addNewRow.OngoingEffort">

                      </label>


                    </div>
                    <div *ngIf="(currentYear=='2021'||currentYear=='2022')" class="col-xs-12" style="text-align:left;padding-top:12px">
                      <span style="font-size: small;"> Check the groups you need help from</span>
                      <div style="display:inline-block;" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <ng-multiselect-dropdown [placeholder]="'Select Groups'"
                                                 name="drodpwnAdd"
                                                 [data]="dropdownList"
                                                 formControlName="requireGroup"
                                                 [(ngModel)]="tableList.focusAreas.dropdown1"
                                                 [settings]="dropdownSettings"
                                                 (onSelect)="tableList.focusAreas.onGroupSelect($event,tableList.focusAreas.dropdown1)"
                                                 style="font-size: small;">
                        </ng-multiselect-dropdown>
                      </div>
                      <span *ngIf="(currentYear=='2021' ||currentYear=='2022')&& groupName!='RBU'" class="col-xs-3" style="font-size: small;" data-toggle="tooltip" title="Do not include the cost for resources that are within the organization."> Estimated Incremental costs :</span>
                      <div *ngIf="(currentYear=='2021' ||currentYear=='2022')&& groupName!='RBU'" style="display:inline-block;" class="col-xs-2 col-sm-2 col-md-2 col-lg-2" data-toggle="tooltip" title="Do not include the cost for resources that are within the organization.">
                        <input type="number" pattern="[0-9]{10}" class="form-control" style="height:1.5rem!important;width:170px" formControlName="incrementalCost" rows="1" [(ngModel)]="tableList.focusAreas.addNewRow.IncrementalCosts" />
                      </div>
                    </div>
                    <div class="row" [hidden]="!angForm.controls['requireGroup'].invalid" style="padding-left:15em;float:left">
                      <span *ngIf="groupName!='RBU'" class="has-error">Select atleast one Group or None</span>
                    </div>
                    <div class="row" style="padding-top:1em;display:inline-flex">
                      <span class="col-xs-3" style="font-size: small;padding-left:1em;padding-top:2px;"> Select if your initiative supports the Integrated Top priorities</span>
                      <div style="display:inline-block;width:450px" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <ng-multiselect-dropdown [placeholder]="'Select Groups'"
                                                 name="ItfAdd"
                                                 [data]="ITFDropdown"
                                                 formControlName="supportITF"
                                                 [(ngModel)]="tableList.focusAreas.dropdown2"
                                                 [settings]="dropdownSettings2"
                                                 (onSelect)="tableList.focusAreas.onItemSelect($event,tableList.focusAreas.dropdown2)"
                                                 style="font-size: small; ">
                        </ng-multiselect-dropdown>
                      </div>
                      <div class="row" [hidden]="!angForm.controls['supportITF'].invalid" style="padding-left:17em;float:left">
                        <span class="has-error">Select atleast one Option or None</span>
                      </div>
                    </div>


                  </div>
                </form>
              </td>
              <td>
                <button class="fa fa-save" (click)="tableList.focusAreas.addNewItem($event);" [disabled]="angForm.controls['succnameadd'].invalid || angForm.controls['requireGroup'].invalid ||angForm.controls['supportITF'].invalid"></button>
                <i class="fa fa-close" (click)="tableList.focusAreas.cancel($event);"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </ng-template>
  </ngb-panel>
  <ngb-panel *ngIf="caseFourAccordian">
    <ng-template ngbPanelTitle>
      <span>{{currentYear}} Lease Modifications</span>
      <span *ngIf="tableList.leaseModifications.updatedData!=''" style="margin-left:404px;font-size:small;font:caption;color:grey">Last Updated:{{tableList.leaseModifications.updatedData}}</span>
    </ng-template>
    <ng-template ngbPanelContent>
      <ngb-alert *ngIf="tableList.leaseModifications.successMessage" [type]="tableList.leaseModifications.alertType" (close)="tableList.leaseModifications.successMessage = null">{{ tableList.leaseModifications.successMessage }}</ngb-alert>
      <div *ngIf="groupName=='RBU'" class="accordion-text">{{RBLM}} </div>
      <div *ngIf="groupName!='RBU' && (groupName=='CSG' ||groupName=='SP' || groupName=='CM'|| groupName=='WVE')" class="accordion-text">{{LM}} </div>
      <div class="row button-container">
        <div class="col">
          <button type="button" class="btn btn-primary pull-right" [hidden]="tableList.leaseModifications.count == 5" (click)="tableList.leaseModifications.AddNewRow($event)" [disabled]="tableList.leaseModifications.addRow">Add</button>
        </div>
      </div>
      <div class="table-responsive1 collapse show ">

        <table class="table table-bordered">
          <thead>
          <th *ngFor="let title of tableList.leaseModifications.titles">{{title}}</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of tableList.leaseModifications.list; let i = index; " [hidden]="tableList.leaseModifications.list.length == 0">
              <td>{{i+1}}</td>

              <td [hidden]="!tableList.leaseModifications.isEdit[i]">{{item.description}}</td>
              <td [hidden]="tableList.leaseModifications.isEdit[i]">
                <form [formGroup]="angForm" novalidate>
                  <div class="form-group">
                    <textarea class="form-control" formControlName="leasename" maxlength="500" rows="2" [(ngModel)]="tableList.leaseModifications.selectedRow.Description" required></textarea>

                  </div>
                  <div [hidden]="!angForm.controls['leasename'].invalid">
                    <span class="has-error">Description is Required</span>
                  </div>
                </form>
              </td>
              <td [hidden]="!tableList.leaseModifications.isEdit[i]">{{item.date  | date: 'MM/dd/yyyy'}}</td>
              <td [hidden]="tableList.leaseModifications.isEdit[i]">
                <form [formGroup]="angForm" novalidate>
                  <div class="form-group">

                    <my-date-picker name="mydate" [options]="myDatePickerOptions"
                                    formControlName="datename" [(ngModel)]="tableList.leaseModifications.selectedRow.Date" required></my-date-picker>


                  </div>

                  <div [hidden]="!angForm.controls['datename'].invalid">
                    <span class="has-error">Date is Required</span>
                  </div>
                </form>
              </td>
              <td [hidden]="!tableList.leaseModifications.isEdit[i]">{{item.planOfRenewal}}</td>
              <td [hidden]="tableList.leaseModifications.isEdit[i]">
                <form [formGroup]="angForm" novalidate>
                  <div class="form-group">
                    <textarea class="form-control" formControlName="planname" maxlength="500" rows="2" [(ngModel)]="tableList.leaseModifications.selectedRow.PlanOfRenewal" required></textarea>

                  </div>
                  <div [hidden]="!angForm.controls['planname'].invalid">
                    <span class="has-error">Plan Of Renewal is Required</span>
                  </div>
                </form>
              </td>


              <td>
                <button class="fa fa-edit" (click)="tableList.leaseModifications.enableEdit($event,item,i);" [hidden]="!tableList.leaseModifications.isEdit[i]" [disabled]="!tableList.leaseModifications.isEditenabled"></button>
                <i class="fa fa-trash" [hidden]="!tableList.leaseModifications.isEdit[i]" (click)="tableList.leaseModifications.deleteItem($event,item,i);"></i>
                <button class="fa fa-save" (click)="tableList.leaseModifications.Update($event,item,i);" [hidden]="tableList.leaseModifications.isEdit[i]" [disabled]="angForm.controls['leasename'].invalid|| angForm.controls['datename'].invalid ||angForm.controls['planname'].invalid"></button>
                <i [hidden]="tableList.leaseModifications.isEdit[i]" class="fa fa-close" (click)="tableList.leaseModifications.reset($event,i);"></i>
              </td>
            </tr>
            <tr [hidden]="tableList.leaseModifications.list.length || tableList.leaseModifications.addRow"><td colspan="5" class="text-center">No records found</td></tr>
            <tr [hidden]="!tableList.leaseModifications.addRow">
              <td>{{tableList.leaseModifications.count}}</td>
              <td>
                <form [formGroup]="angForm" novalidate>
                  <div class="form-group">
                    <textarea class="form-control" formControlName="leasenameadd" maxlength="500" rows="2" [(ngModel)]="tableList.leaseModifications.addNewRow.Description" required></textarea>

                  </div>
                  <div [hidden]="!angForm.controls['leasenameadd'].invalid">
                    <span class="has-error"> Description is required.</span>
                  </div>
                </form>
              </td>
              <td>
                <form [formGroup]="angForm" novalidate>
                  <div class="form-group">

                    <my-date-picker name="mydate" [options]="myDatePickerOptions"
                                    formControlName="datenameadd" [(ngModel)]="tableList.leaseModifications.addNewRow.Date" required></my-date-picker>
                  </div>
                  <div [hidden]="!angForm.controls['datenameadd'].invalid">
                    <span class="has-error">Date is required.</span>
                  </div>
                </form>
              </td>
              <td>
                <form [formGroup]="angForm" novalidate>
                  <div class="form-group">
                    <textarea class="form-control" formControlName="plannameadd" maxlength="500" rows="2" [(ngModel)]="tableList.leaseModifications.addNewRow.PlanOfRenewal" required></textarea>

                  </div>
                  <div [hidden]="!angForm.controls['plannameadd'].invalid">
                    <span class="has-error"> Plan Of Renewal is required.</span>
                  </div>
                </form>
              </td>
              <td>
                <button class="fa fa-save" (click)="tableList.leaseModifications.addNewItem($event);" [disabled]="angForm.controls['leasenameadd'].invalid ||angForm.controls['datenameadd'].invalid ||angForm.controls['plannameadd'].invalid"></button>
                <i class="fa fa-close" (click)="tableList.leaseModifications.cancel($event);"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </ng-template>
  </ngb-panel>
  <ngb-panel *ngIf="caseFourAccordian">
    <ng-template ngbPanelTitle>
      <span>{{currentYear}} Capital Expenses</span>
      <span *ngIf="tableList.capitalExpenses.updatedData!=''" style="margin-left:436px;font-size:small;font:caption;color:grey">Last Updated:{{tableList.capitalExpenses.updatedData}}</span>
    </ng-template>
    <ng-template ngbPanelContent>
      <ngb-alert *ngIf="tableList.capitalExpenses.successMessage" [type]="tableList.capitalExpenses.alertType" (close)="tableList.capitalExpenses.successMessage = null">{{ tableList.capitalExpenses.successMessage }}</ngb-alert>
      <div *ngIf="groupName=='RBU'" class="accordion-text">{{RBCE}} </div>
      <div *ngIf="groupName!='RBU' &&  (groupName=='CSG' ||groupName=='SP' || groupName=='CM'|| groupName=='WVE')" class="accordion-text">{{CE}} </div>
      <div class="row button-container">
        <div class="col">
          <button type="button" class="btn btn-primary pull-right" [hidden]="tableList.capitalExpenses.count == 5" (click)="tableList.capitalExpenses.AddNewRow($event)" [disabled]="tableList.capitalExpenses.addRow">Add</button>
        </div>
      </div>
      <div class="table-responsive collapse show">

        <table class="table table-bordered">
          <thead>
          <th *ngFor="let title of tableList.capitalExpenses.titles">{{title}}</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of tableList.capitalExpenses.list; let i = index; " [hidden]="tableList.capitalExpenses.list.length == 0">
              <td>{{i+1}}</td>

              <td [hidden]="!tableList.capitalExpenses.isEdit[i]">{{item.description}}</td>
              <td [hidden]="tableList.capitalExpenses.isEdit[i]">
                <form [formGroup]="angForm" novalidate>
                  <div class="form-group">
                    <textarea class="form-control" formControlName="descriptionname" maxlength="500" rows="2" [(ngModel)]="tableList.capitalExpenses.selectedRow.Description" required></textarea>

                  </div>
                  <div [hidden]="!angForm.controls['descriptionname'].invalid">
                    <span class="has-error">Description is Required</span>
                  </div>
                </form>
              </td>
              <td class="amount-width" [hidden]="!tableList.capitalExpenses.isEdit[i]">${{item.Amount|number}}</td>
              <td [hidden]="tableList.capitalExpenses.isEdit[i]">
                <form [formGroup]="angForm" novalidate>
                  <div class="form-group">
                    <input type="number" class="form-control" formControlName="amountname" rows="1" [(ngModel)]="tableList.capitalExpenses.selectedRow.Amount" required />

                  </div>
                  <div [hidden]="!angForm.controls['amountname'].invalid">
                    <span class="has-error">Amount(in $) is Required</span>
                  </div>
                </form>
              </td>


              <td>
                <button class="fa fa-edit" (click)="tableList.capitalExpenses.enableEdit($event,item,i);" [hidden]="!tableList.capitalExpenses.isEdit[i]" [disabled]="!tableList.capitalExpenses.isEditenabled"></button>
                <i class="fa fa-trash" [hidden]="!tableList.capitalExpenses.isEdit[i]" (click)="tableList.capitalExpenses.deleteItem($event,item,i);"></i>
                <button class="fa fa-save" (click)="tableList.capitalExpenses.Update($event,item,i);" [hidden]="tableList.capitalExpenses.isEdit[i]" [disabled]="angForm.controls['descriptionname'].invalid || angForm.controls['amountname'].invalid"></button>
                <i [hidden]="tableList.capitalExpenses.isEdit[i]" class="fa fa-close" (click)="tableList.capitalExpenses.reset($event,i);"></i>
              </td>
            </tr>
            <tr [hidden]="tableList.capitalExpenses.list.length || tableList.capitalExpenses.addRow"><td colspan="4" class="text-center">No records found</td></tr>
            <tr [hidden]="!tableList.capitalExpenses.addRow">
              <td>{{tableList.capitalExpenses.count}}</td>
              <td>
                <form [formGroup]="angForm" novalidate>
                  <div class="form-group">
                    <textarea class="form-control" formControlName="descriptionnameadd" maxlength="500" rows="2" [(ngModel)]="tableList.capitalExpenses.addNewRow.Description" required></textarea>

                  </div>
                  <div [hidden]="!angForm.controls['descriptionnameadd'].invalid">
                    <span class="has-error">Description is required.</span>
                  </div>
                </form>
              </td>
              <td>
                <form [formGroup]="angForm" novalidate>
                  <div class="form-group">
                    <input type="number" class="form-control" formControlName="amountnameadd" rows="1" [(ngModel)]="tableList.capitalExpenses.addNewRow.Amount"
                           required />

                  </div>
                  <div [hidden]="!angForm.controls['amountnameadd'].invalid">
                    <span class="has-error">Amount(in $) is required.</span>
                  </div>
                </form>
              </td>
              <td>
                <button class="fa fa-save" (click)="tableList.capitalExpenses.addNewItem($event);" [disabled]="angForm.controls['descriptionnameadd'].invalid || angForm.controls['amountnameadd'].invalid"></button>
                <i class="fa fa-close" (click)="tableList.capitalExpenses.cancel($event);"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </ng-template>
  </ngb-panel>
  <ngb-panel *ngIf="caseThreeAccordian">
    <ng-template ngbPanelTitle>
      <span>Top Priorities That Impact Others</span>
      <span *ngIf="tableList.integratedTopFive.updatedData!=''" style="margin-left:230px;font-size:small;font:caption;color:grey">Last Updated:{{tableList.integratedTopFive.updatedData}}</span>
    </ng-template>
    <ng-template ngbPanelContent>
      <ngb-alert *ngIf="tableList.integratedTopFive.successMessage" [type]="tableList.integratedTopFive.alertType" (close)="tableList.integratedTopFive.successMessage = null">{{ tableList.integratedTopFive.successMessage }}</ngb-alert>
      <div class="accordion-text">
        Please identify the Top 5 priorities that your integrated work groups will take in {{currentYear}} to improve our performance that impact other work groups and/or our project teams.
      </div>
      <div class="row button-container">
        <div class="col">
          <button type="button" class="btn btn-primary pull-right" [hidden]="tableList.integratedTopFive.count == 5" (click)="tableList.integratedTopFive.AddNewRow($event)" [disabled]="tableList.integratedTopFive.addRow">Add</button>
        </div>
      </div>
      <div class="table-responsive collapse show">

        <table class="table table-bordered">
          <thead>
          <th *ngFor="let title of tableList.integratedTopFive.titles">{{title}}</th>
          </thead>
          <tbody>
          <tbody>
            <tr *ngFor="let item of tableList.integratedTopFive.list; let i = index; " [hidden]="tableList.integratedTopFive.list.length == 0">
              <td>{{i+1}}</td>

              <td [hidden]="!tableList.integratedTopFive.isEdit[i]">{{item.StrategicActions}}</td>
              <td [hidden]="tableList.integratedTopFive.isEdit[i]">
                <form [formGroup]="angForm" novalidate>
                  <div class="form-group">
                    <textarea class="form-control" formControlName="integrated" rows="2" [(ngModel)]="tableList.integratedTopFive.selectedRow.StrategicActions" required></textarea>

                  </div>
                  <div [hidden]="!angForm.controls['integrated'].invalid">
                    <span class="has-error"> Strategic Action is Required</span>
                  </div>
                </form>
              </td>

              <td>
                <button class="fa fa-edit" (click)="tableList.integratedTopFive.enableEdit($event,item,i);" [hidden]="!tableList.integratedTopFive.isEdit[i]" [disabled]="!tableList.integratedTopFive.isEditenabled"></button>
                <i class="fa fa-trash" [hidden]="!tableList.integratedTopFive.isEdit[i]" (click)="tableList.integratedTopFive.deleteItem($event,item,i);"></i>
                <button class="fa fa-save" (click)="tableList.integratedTopFive.Update($event,item,i);" [hidden]="tableList.integratedTopFive.isEdit[i]" [disabled]="angForm.controls['integrated'].invalid"></button>
                <i [hidden]="tableList.integratedTopFive.isEdit[i]" class="fa fa-close" (click)="tableList.integratedTopFive.reset($event,i);"></i>
              </td>
            </tr>
            <tr [hidden]="tableList.integratedTopFive.list.length || tableList.integratedTopFive.addRow"><td colspan="3" class="text-center">No records found</td></tr>
            <tr [hidden]="!tableList.integratedTopFive.addRow">
              <td>{{tableList.integratedTopFive.count}}</td>
              <td>
                <form [formGroup]="angForm" novalidate>
                  <div class="form-group">
                    <textarea class="form-control" formControlName="integratedadd" rows="2" [(ngModel)]="tableList.integratedTopFive.addNewRow.StrategicActions" required></textarea>

                  </div>
                  <div [hidden]="!angForm.controls['integratedadd'].invalid">
                    <span class="has-error"> Strategic Action is required.</span>
                  </div>
                </form>
              </td>
              <td>
                <button class="fa fa-save" (click)="tableList.integratedTopFive.addNewItem($event);" [disabled]="angForm.controls['integratedadd'].invalid"></button>
                <i class="fa fa-close" (click)="tableList.integratedTopFive.cancel($event);"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </ng-template>
  </ngb-panel>

</ngb-accordion>
